force-app/main/default/flows/All_Problem_Behaviors.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <formulas>
        <name>AllProblemBehaviors</name>
        <dataType>String</dataType>
        <expression>{!Problem_Behavior_Aggression}&amp;&quot;,&quot;&amp;{!Problem_Behavior_Arousal}&amp;&quot;,&quot;&amp;{!Problem_Behavior_Fear}&amp;&quot;,&quot;&amp;{!Problem_Behavior_Miscellaneous}</expression>
    </formulas>
    <interviewLabel>All Problem Behaviors {!$Flow.CurrentDateTime}</interviewLabel>
    <label>All Problem Behaviors</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Problem_Behaviors</name>
        <label>Retrieve Problem Behaviors</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Insert_Problem_Behaviors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Treatment_Plan__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Animal__c</queriedFields>
        <queriedFields>Problem_Behavior_Aggression__c</queriedFields>
        <queriedFields>Problem_Behavior_Arousal__c</queriedFields>
        <queriedFields>Problem_Behavior_Fear__c</queriedFields>
        <queriedFields>Problem_Behavior_Miscellaneous__c</queriedFields>
        <queriedFields>All_Problem_Behaviors__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Insert_Problem_Behaviors</name>
        <label>Insert Problem Behaviors</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>All_Problem_Behaviors__c</field>
            <value>
                <elementReference>All_Problem_Behaviors</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Retrieve_Problem_Behaviors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Treatment_Plan__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>All_Problem_Behaviors</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Problem_Behavior_Aggression__c};{!$Record.Problem_Behavior_Arousal__c};{!$Record.Problem_Behavior_Fear__c};{!$Record.Problem_Behavior_Miscellaneous__c}</text>
    </textTemplates>
    <textTemplates>
        <name>Problem_Behavior_Aggression_c</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Problem_Behavior_Aggression__c}</text>
    </textTemplates>
    <textTemplates>
        <name>Problem_Behavior_Arousal_c</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Problem_Behavior_Arousal__c}</text>
    </textTemplates>
    <variables>
        <name>Aggression</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Problem_Behavior_Aggression</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Retrieve_Problem_Behaviors.Problem_Behavior_Aggression__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Problem_Behavior_Arousal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Retrieve_Problem_Behaviors.Problem_Behavior_Arousal__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Problem_Behavior_Fear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Retrieve_Problem_Behaviors.Problem_Behavior_Fear__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Problem_Behavior_Miscellaneous</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Retrieve_Problem_Behaviors.Problem_Behavior_Miscellaneous__c</elementReference>
        </value>
    </variables>
</Flow>
