force-app/main/default/flows/Animal_Exam_Sheet_New_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Refresh_Page</name>
        <label>Refresh Page</label>
        <locationX>1267</locationX>
        <locationY>255</locationY>
        <actionName>c:redirectFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>Daily</name>
        <choiceText>Daily</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RecursDaily</stringValue>
        </value>
    </choices>
    <choices>
        <name>Every_Blank_Days</name>
        <choiceText>Every ___ day(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Every Blank Days</stringValue>
        </value>
    </choices>
    <choices>
        <name>Every_Weekday</name>
        <choiceText>Every weekday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RecursEveryWeekday</stringValue>
        </value>
    </choices>
    <choices>
        <name>First</name>
        <choiceText>First</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1st</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fourth</name>
        <choiceText>Fourth</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4th</stringValue>
        </value>
    </choices>
    <choices>
        <name>Friday</name>
        <choiceText>Friday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Friday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Last</name>
        <choiceText>Last</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>last</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monday</name>
        <choiceText>Monday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monthly</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RecursMonthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monthly_Relative</name>
        <choiceText>Relative (eg. &quot;On the first Monday of every 1 month&quot;)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly Relative</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monthly_Specific</name>
        <choiceText>Specific (eg. &quot;On day 5 of every 2 months&quot;)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly Specific</stringValue>
        </value>
    </choices>
    <choices>
        <name>Saturday</name>
        <choiceText>Saturday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Saturday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Second</name>
        <choiceText>Second</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2nd</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sunday</name>
        <choiceText>Sunday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sunday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Third</name>
        <choiceText>Third</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3rd</stringValue>
        </value>
    </choices>
    <choices>
        <name>Thursday</name>
        <choiceText>Thursday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Thursday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tuesday</name>
        <choiceText>Tuesday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tuesday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wednesday</name>
        <choiceText>Wednesday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wednesday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weekly</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RecursWeekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yearly</name>
        <choiceText>Yearly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RecursYearly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yearly_Relative</name>
        <choiceText>Relative (eg. &quot;On the first Wednesday of June&quot;)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yearly Relative</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yearly_Specific</name>
        <choiceText>Specific (eg. &quot;On every April 26&quot;)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yearly Specific</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Latest_End_Date_Checked</name>
        <label>Latest End Date Checked?</label>
        <locationX>914</locationX>
        <locationY>257</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Latest End Date</defaultConnectorLabel>
        <rules>
            <name>Latest_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Use_Latest_End_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_General_Task_Record_Type</targetReference>
            </connector>
            <label>Latest End Date</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Calendar_Days</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Calendar_Day__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Calendar_Months</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Calendar_Month__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Drug_Amount_Unit_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Drug_Amount_Unit__c</picklistField>
        <picklistObject>Controlled_Drug__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>frequencyOfTreatmentChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Frequency_Of_Treatment__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>includeInDischargeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Include_in_discharge__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Priority_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>speciesChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Species__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>IF({!Create_Recurring_Series_of_Tasks} = false, {!Due_Date}, null)</expression>
    </formulas>
    <formulas>
        <name>latestEndDate</name>
        <dataType>Date</dataType>
        <expression>IF({!Daily_Recurrence} = &quot;Every weekday&quot;, {!latestEndDateWeekday},
IF({!Frequency} = &quot;Weekly&quot;, {!latestEndDateWeekly},
IF({!Frequency} = &quot;Monthly&quot;, {!latestEndDateMonthly},
IF({!Frequency} = &quot;Yearly&quot;,  {!latestEndDateYearly},  {!latestEndDateDaily}))))</expression>
    </formulas>
    <formulas>
        <name>latestEndDateDaily</name>
        <dataType>Date</dataType>
        <expression>{!Recurrence_Start} + (100 * {!Days}) - {!Days}</expression>
    </formulas>
    <formulas>
        <name>latestEndDateMonthly</name>
        <dataType>Date</dataType>
        <expression>{!Recurrence_Start} + (1825 * {!Months}) - (31 * {!Months})</expression>
    </formulas>
    <formulas>
        <name>latestEndDateWeekday</name>
        <dataType>Date</dataType>
        <expression>{!Recurrence_Start} + 139</expression>
    </formulas>
    <formulas>
        <name>latestEndDateWeekly</name>
        <dataType>Date</dataType>
        <expression>{!Recurrence_Start} + ((365 * {!Weeks}) / {!latestEndDateWeeklyMask}) - 7</expression>
    </formulas>
    <formulas>
        <name>latestEndDateWeeklyDayOfWeek</name>
        <dataType>Number</dataType>
        <expression>IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Saturday&quot;), 1,
IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Friday&quot;), 2,
IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Thursday&quot;), 3,
IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Wednesday&quot;), 4,
IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Tuesday&quot;), 5,
IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Monday&quot;), 6,
IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Sunday&quot;), 7, 0)))))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>latestEndDateWeeklyMask</name>
        <dataType>Number</dataType>
        <expression>IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Sunday&quot;), 1, 0) +
IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Monday&quot;), 1, 0) +
IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Tuesday&quot;), 1, 0) +
IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Wednesday&quot;), 1, 0) +
IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Thursday&quot;), 1, 0) +
IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Friday&quot;), 1, 0) +
IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Saturday&quot;), 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>latestEndDateYearly</name>
        <dataType>Date</dataType>
        <expression>{!Recurrence_Start} + 3287</expression>
    </formulas>
    <formulas>
        <name>Monthly_Mask_Calculation</name>
        <dataType>Number</dataType>
        <expression>IF({!Monthly_Day_of_Week} = &quot;Sunday&quot;, 1,
IF({!Monthly_Day_of_Week} = &quot;Monday&quot;, 2,
IF({!Monthly_Day_of_Week} = &quot;Tuesday&quot;, 4,
IF({!Monthly_Day_of_Week} = &quot;Wednesday&quot;, 8,
IF({!Monthly_Day_of_Week} = &quot;Thursday&quot;, 16,
IF({!Monthly_Day_of_Week} = &quot;Friday&quot;, 32,
IF({!Monthly_Day_of_Week} = &quot;Saturday&quot;, 64, null)))))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RecurrenceDayOfMonth</name>
        <dataType>Number</dataType>
        <expression>IF({!Monthly_Recurrence} = {!Monthly_Specific}, VALUE({!Monthly_Day}),
IF({!Yearly_Recurrence} = {!Yearly_Specific}, VALUE({!Yearly_Day}), null))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RecurrenceDayOfWeekMask</name>
        <dataType>Number</dataType>
        <expression>IF({!Daily_Recurrence} = &quot;Every weekday&quot;, 62,
IF({!Frequency} = &quot;Weekly&quot;, {!Weekly_Mask_Calculation},
IF({!Monthly_Recurrence} = {!Monthly_Relative}, {!Monthly_Mask_Calculation},
IF({!Yearly_Recurrence} = {!Yearly_Relative}, {!Yearly_Mask_Calculation}, null))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RecurrenceInstance</name>
        <dataType>String</dataType>
        <expression>IF({!Monthly_Recurrence} = {!Monthly_Relative}, {!Monthly_Ordinal},
IF({!Yearly_Recurrence} = {!Yearly_Relative}, {!Yearly_Ordinal}, null))</expression>
    </formulas>
    <formulas>
        <name>RecurrenceInterval</name>
        <dataType>Number</dataType>
        <expression>IF({!Daily_Recurrence} = {!Every_Blank_Days}, {!Days},
IF({!Frequency} = &quot;Weekly&quot;, {!Weeks}, 
IF({!Frequency} = &quot;Monthly&quot;, {!Months}, null)))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RecurrenceType</name>
        <dataType>String</dataType>
        <expression>IF({!Daily_Recurrence} = {!Every_Weekday}, &quot;RecursEveryWeekday&quot;,
IF({!Frequency} = &quot;Daily&quot;, &quot;RecursDaily&quot;,
IF({!Frequency} = &quot;Weekly&quot;, &quot;RecursWeekly&quot;,
IF({!Monthly_Recurrence} = {!Monthly_Specific}, &quot;RecursMonthly&quot;, 
IF({!Monthly_Recurrence} = {!Monthly_Relative}, &quot;RecursMonthlyNth&quot;,
IF({!Yearly_Recurrence} = {!Yearly_Specific}, &quot;RecursYearly&quot;, 
IF({!Yearly_Recurrence} = {!Yearly_Relative}, &quot;RecursYearlyNth&quot;, null)))))))</expression>
    </formulas>
    <formulas>
        <name>speciesFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_Animal_Exam_Sheet.Animal__r.Type_of_Animal__c}, &quot;Canine&quot;), &quot;Dog&quot;,
IF(ISPICKVAL({!Get_Animal_Exam_Sheet.Animal__r.Type_of_Animal__c}, &quot;Feline&quot;), &quot;Cat&quot;, TEXT({!Get_Animal_Exam_Sheet.Animal__r.Type_of_Animal__c})))</expression>
    </formulas>
    <formulas>
        <name>taskEndDate</name>
        <dataType>Date</dataType>
        <expression>IF({!Use_Latest_End_Date} = TRUE, {!latestEndDate}, {!Recurrence_End})</expression>
    </formulas>
    <formulas>
        <name>Weekly_Mask_Calculation</name>
        <dataType>Number</dataType>
        <expression>IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Sunday&quot;), 1, 0) +
IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Monday&quot;), 2, 0) +
IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Tuesday&quot;), 4, 0) +
IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Wednesday&quot;), 8, 0) +
IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Thursday&quot;), 16, 0) +
IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Friday&quot;), 32, 0) +
IF(CONTAINS({!Weekly_Day_of_Week}, &quot;Saturday&quot;), 64, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Yearly_Mask_Calculation</name>
        <dataType>Number</dataType>
        <expression>IF({!Yearly_Day_of_Week} = &quot;Sunday&quot;, 1,
IF({!Yearly_Day_of_Week} = &quot;Monday&quot;, 2,
IF({!Yearly_Day_of_Week} = &quot;Tuesday&quot;, 4,
IF({!Yearly_Day_of_Week} = &quot;Wednesday&quot;, 8,
IF({!Yearly_Day_of_Week} = &quot;Thursday&quot;, 16,
IF({!Yearly_Day_of_Week} = &quot;Friday&quot;, 32,
IF({!Yearly_Day_of_Week} = &quot;Saturday&quot;, 64, null)))))))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Animal Exam Sheet - New Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal Exam Sheet - New Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Meds_Ending_Task</name>
        <label>Create Meds Ending Task</label>
        <locationX>1120</locationX>
        <locationY>462</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>taskEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal_Exam_Sheet_Lookup__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>Get_Animal_Exam_Sheet.Animal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Long term medication ending today, reassess and extend if needed.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_General_Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>DVM - Meds Ending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Animal_Exam_Sheet.Animal__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1120</locationX>
        <locationY>255</locationY>
        <connector>
            <targetReference>Refresh_Page</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal_Exam_Sheet_Lookup__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>Get_Animal_Exam_Sheet.Animal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_By_Text__c</field>
            <value>
                <elementReference>Completed_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dosage__c</field>
            <value>
                <elementReference>Dosage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Editor__c</field>
            <value>
                <elementReference>Editor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency_Of_Treatment__c</field>
            <value>
                <elementReference>Frequency_of_Treatment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Include_in_discharge__c</field>
            <value>
                <elementReference>Include_in_discharge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRecurrence</field>
            <value>
                <elementReference>Create_Recurring_Series_of_Tasks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medication__c</field>
            <value>
                <elementReference>Medication.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Treatments_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceDayOfMonth</field>
            <value>
                <elementReference>RecurrenceDayOfMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceDayOfWeekMask</field>
            <value>
                <elementReference>RecurrenceDayOfWeekMask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceEndDateOnly</field>
            <value>
                <elementReference>taskEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceInstance</field>
            <value>
                <elementReference>RecurrenceInstance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceInterval</field>
            <value>
                <elementReference>RecurrenceInterval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceMonthOfYear</field>
            <value>
                <elementReference>Yearly_Month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceStartDateOnly</field>
            <value>
                <elementReference>Recurrence_Start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceType</field>
            <value>
                <elementReference>RecurrenceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Species__c</field>
            <value>
                <elementReference>speciesFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Animal_Exam_Sheet.Animal__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Animal_Exam_Sheet</name>
        <label>Get Animal Exam Sheet</label>
        <locationX>451</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Treatments_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Animal_Exam_Sheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_General_Task_Record_Type</name>
        <label>Get General Task Record Type</label>
        <locationX>922</locationX>
        <locationY>462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Meds_Ending_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Treatments_Record_Type</name>
        <label>Get Treatments Record Type</label>
        <locationX>604</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Treatments</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1120</locationX>
        <locationY>49</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;There was an error creating the record. Please contact your administrator for more information.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Task</name>
        <label>New Task</label>
        <locationX>760</locationX>
        <locationY>255</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Latest_End_Date_Checked</targetReference>
        </connector>
        <fields>
            <name>Task_Information</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Task Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Editor</name>
            <dataType>String</dataType>
            <fieldText>Editor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Species</name>
            <choiceReferences>speciesChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Animal_Exam_Sheet.Animal__r.Type_of_Animal__c</elementReference>
            </defaultValue>
            <fieldText>Species</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Include_in_discharge</name>
            <choiceReferences>includeInDischargeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Yes</stringValue>
            </defaultValue>
            <fieldText>Include in discharge?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Animal_Treatment_Details</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Animal Treatment Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Medication</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Medication_Drug__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Medication</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Animal_Exam_Sheet__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Dosage</name>
            <dataType>String</dataType>
            <fieldText>Dosage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Frequency_of_Treatment</name>
            <choiceReferences>frequencyOfTreatmentChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Frequency of Treatment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Additional_Information</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Additional Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Status_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Not Started</stringValue>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Completed_By</name>
            <dataType>String</dataType>
            <fieldText>Completed By</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>Priority_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Normal</stringValue>
            </defaultValue>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Recurrence</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Recurrence&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_Recurring_Series_of_Tasks</name>
            <dataType>Boolean</dataType>
            <fieldText>Create Recurring Series of Tasks</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Frequency</name>
            <choiceReferences>Daily</choiceReferences>
            <choiceReferences>Weekly</choiceReferences>
            <choiceReferences>Monthly</choiceReferences>
            <choiceReferences>Yearly</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Daily</defaultSelectedChoiceReference>
            <fieldText>Frequency</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Recurring_Series_of_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Daily_Recurrence</name>
            <choiceReferences>Every_Weekday</choiceReferences>
            <choiceReferences>Every_Blank_Days</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Every_Blank_Days</defaultSelectedChoiceReference>
            <fieldText>Recurrence</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Recurring_Series_of_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Frequency</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Daily</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Days</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Day(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Recurring_Series_of_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Frequency</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Daily</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Daily_Recurrence</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Every Blank Days</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Weeks</name>
            <dataType>Number</dataType>
            <fieldText>Recurs every ___ week(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Recurring_Series_of_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Frequency</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Weekly</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Weekly_Day_of_Week</name>
            <choiceReferences>Sunday</choiceReferences>
            <choiceReferences>Monday</choiceReferences>
            <choiceReferences>Tuesday</choiceReferences>
            <choiceReferences>Wednesday</choiceReferences>
            <choiceReferences>Thursday</choiceReferences>
            <choiceReferences>Friday</choiceReferences>
            <choiceReferences>Saturday</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Day of the Week</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Recurring_Series_of_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Frequency</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Weekly</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Monthly_Recurrence</name>
            <choiceReferences>Monthly_Specific</choiceReferences>
            <choiceReferences>Monthly_Relative</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Monthly_Specific</defaultSelectedChoiceReference>
            <fieldText>Recurrence</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Recurring_Series_of_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Frequency</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Monthly</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Monthly_Day</name>
            <choiceReferences>Calendar_Days</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Day</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Recurring_Series_of_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Frequency</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Monthly</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Monthly_Recurrence</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Monthly_Specific</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Monthly_Ordinal</name>
            <choiceReferences>First</choiceReferences>
            <choiceReferences>Second</choiceReferences>
            <choiceReferences>Third</choiceReferences>
            <choiceReferences>Fourth</choiceReferences>
            <choiceReferences>Last</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ordinal</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Recurring_Series_of_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Frequency</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Monthly</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Monthly_Recurrence</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Monthly_Relative</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Monthly_Day_of_Week</name>
            <choiceReferences>Sunday</choiceReferences>
            <choiceReferences>Monday</choiceReferences>
            <choiceReferences>Tuesday</choiceReferences>
            <choiceReferences>Wednesday</choiceReferences>
            <choiceReferences>Thursday</choiceReferences>
            <choiceReferences>Friday</choiceReferences>
            <choiceReferences>Saturday</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Day of the Week</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Recurring_Series_of_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Frequency</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Monthly</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Monthly_Recurrence</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Monthly_Relative</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Months</name>
            <dataType>Number</dataType>
            <fieldText>Month(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Recurring_Series_of_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Frequency</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Monthly</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Yearly_Recurrence</name>
            <choiceReferences>Yearly_Specific</choiceReferences>
            <choiceReferences>Yearly_Relative</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yearly_Specific</defaultSelectedChoiceReference>
            <fieldText>Recurrence</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Recurring_Series_of_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Frequency</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yearly</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Yearly_Ordinal</name>
            <choiceReferences>First</choiceReferences>
            <choiceReferences>Second</choiceReferences>
            <choiceReferences>Third</choiceReferences>
            <choiceReferences>Fourth</choiceReferences>
            <choiceReferences>Last</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ordinal</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Recurring_Series_of_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Frequency</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yearly</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Yearly_Recurrence</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yearly_Relative</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Yearly_Day_of_Week</name>
            <choiceReferences>Sunday</choiceReferences>
            <choiceReferences>Monday</choiceReferences>
            <choiceReferences>Tuesday</choiceReferences>
            <choiceReferences>Wednesday</choiceReferences>
            <choiceReferences>Thursday</choiceReferences>
            <choiceReferences>Friday</choiceReferences>
            <choiceReferences>Saturday</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Day of the Week</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Recurring_Series_of_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Frequency</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yearly</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Yearly_Recurrence</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yearly_Relative</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Yearly_Month</name>
            <choiceReferences>Calendar_Months</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Month</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Recurring_Series_of_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Frequency</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yearly</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Yearly_Day</name>
            <choiceReferences>Calendar_Days</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Day</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Recurring_Series_of_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Frequency</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yearly</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Yearly_Recurrence</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yearly_Specific</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Recurrence_Start</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Recurrence Start</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Recurring_Series_of_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Recurrence_End</name>
            <dataType>Date</dataType>
            <fieldText>Recurrence End</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Recurring_Series_of_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Use_Latest_End_Date</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Use_Latest_End_Date</name>
            <dataType>Boolean</dataType>
            <fieldText>Use Latest End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Recurring_Series_of_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>Get_Animal_Exam_Sheet</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newControlledDrugID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
