force-app/main/default/flows/Animal_Exam_Sheet_Populate_Fields_on_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Clear_Default_Fields</name>
        <label>Clear Default Fields</label>
        <locationX>847</locationX>
        <locationY>131</locationY>
        <assignmentItems>
            <assignToReference>$Record.Ears__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Eyes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Skin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Bone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Joints__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Joints_Space__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Muscle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Thoracic_Cavity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Abdominal_Cavity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Spleen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Lymph_Nodes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Nasal_Cavity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Larynx__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Trachea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Lungs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Diaphragm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Heart__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Pericardium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Great_Vessels__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Oral_Cavity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Esophagus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stomach__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Pancreas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Duodenum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Jejunum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ileum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Transverse_Colon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Large_Intestine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Liver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Kidneys__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ureters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Urinary_Bladder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Urethra__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Testicles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Prostate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Prepuce__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Penis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ovaries__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Uterus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Vagina__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Adrenals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Thyroid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Parathyroid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Pituitary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Avian_Exam</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Animal_Details</name>
        <label>Populate Animal Details</label>
        <locationX>457</locationX>
        <locationY>131</locationY>
        <assignmentItems>
            <assignToReference>$Record.Breed_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__r.Breed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sex__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__r.Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Age_Estimate_Picklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__r.Age__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Primary_Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__r.Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Secondary_Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__r.Secondary_Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Tertiary_Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__r.Tertiary_Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Markings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__r.Markings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Species_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__r.Type_of_Animal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Forensic_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__r.Forensic_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Forensic_Hold_Release_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__r.Forensic_Hold_Release_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Forensic_Hold_Released_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__r.Forensic_Hold_Released_By__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NY_Necropsy_Exam</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Avian_BCS</name>
        <label>Populate Avian BCS</label>
        <locationX>527</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>$Record.Avian_BCS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__r.Intake_BCS__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_Regular_BCS</name>
        <label>Populate Regular BCS</label>
        <locationX>716</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>$Record.BCS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__r.Intake_BCS__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Avian_Exam</name>
        <label>Avian Exam?</label>
        <locationX>613</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Populate_Regular_BCS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Avian</defaultConnectorLabel>
        <rules>
            <name>Avian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Animal__r.Type_of_Animal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Avian</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Avian_BCS</targetReference>
            </connector>
            <label>Avian</label>
        </rules>
    </decisions>
    <decisions>
        <name>NY_Necropsy_Exam</name>
        <label>NY Necropsy Exam?</label>
        <locationX>613</locationX>
        <locationY>133</locationY>
        <defaultConnector>
            <targetReference>Avian_Exam</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not NY Necropsy</defaultConnectorLabel>
        <rules>
            <name>Clear_NY_Default_Fields</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Forensics Intake - NY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gross Necropsy - NY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clear_Default_Findings__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Default_Fields</targetReference>
            </connector>
            <label>Clear NY Default Fields</label>
        </rules>
    </decisions>
    <formulas>
        <name>convertSpecies</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Animal__r.Type_of_Animal__c}, &quot;Cat&quot;, &quot;Feline&quot;, &quot;Dog&quot;, &quot;Canine&quot;, &quot;Bird&quot;, &quot;Avian&quot;, &quot;Other&quot;)</expression>
    </formulas>
    <formulas>
        <name>speciesFormula</name>
        <dataType>String</dataType>
        <expression>IF(
OR(
{!$Record.RecordType.Name} = &quot;Forensics Intake - NY&quot;,
{!$Record.RecordType.Name} = &quot;Gross Necropsy - National&quot;,
{!$Record.RecordType.Name} = &quot;Gross Necropsy - NY&quot;
), {!convertSpecies}, TEXT({!$Record.Species_PL__c})
)</expression>
    </formulas>
    <interviewLabel>Animal Exam Sheet - Populate Fields on Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal Exam Sheet - Populate Fields on Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Populate_Animal_Details</targetReference>
        </connector>
        <object>Animal_Exam_Sheet__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
