force-app/main/default/flows/Animal_Exam_Sheet_New_Controlled_Drug.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Refresh_Page</name>
        <label>Refresh Page</label>
        <locationX>891</locationX>
        <locationY>256</locationY>
        <actionName>c:redirectFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <dynamicChoiceSets>
        <name>Drug_Amount_Unit_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Drug_Amount_Unit__c</picklistField>
        <picklistObject>Controlled_Drug__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Animal Exam Sheet - New Controlled Drug {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal Exam Sheet - New Controlled Drug</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Controlled_Drug</name>
        <label>Create Controlled Drug</label>
        <locationX>744</locationX>
        <locationY>256</locationY>
        <assignRecordIdToReference>newControlledDrugID</assignRecordIdToReference>
        <connector>
            <targetReference>Refresh_Page</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Animal_Exam_Sheet__c</field>
            <value>
                <elementReference>Animal_Exam_Sheet.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>Animal.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Controlled_Drug__c</field>
            <value>
                <elementReference>Controlled_Drug.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Administered__c</field>
            <value>
                <elementReference>Date_Administered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dispensed_By__c</field>
            <value>
                <elementReference>Dispensed_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drug_Amount_Unit__c</field>
            <value>
                <elementReference>Drug_Amount_Unit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drug_Amount__c</field>
            <value>
                <elementReference>Drug_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Editor__c</field>
            <value>
                <elementReference>Editor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ordered_By__c</field>
            <value>
                <elementReference>Ordered_By</elementReference>
            </value>
        </inputAssignments>
        <object>Controlled_Drug__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Animal_Exam_Sheet</name>
        <label>Get Animal Exam Sheet</label>
        <locationX>451</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Controlled_Drug</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Animal_Exam_Sheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>744</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;There was an error creating the record. Please contact your administrator for more information.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Controlled_Drug</name>
        <label>New Controlled Drug</label>
        <locationX>591</locationX>
        <locationY>256</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Controlled_Drug</targetReference>
        </connector>
        <fields>
            <name>Animal</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Animal__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Animal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Controlled_Drug__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Animal_Exam_Sheet.Animal__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Animal_Exam_Sheet</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Animal_Exam_Sheet__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Animal Exam Sheet</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Controlled_Drug__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Animal_Exam_Sheet.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Date_Administered</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date Administered</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Controlled_Drug</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Controlled_Drug__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Controlled Drug</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Controlled_Drug__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Drug_Amount</name>
            <dataType>Number</dataType>
            <fieldText>Drug Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Drug_Amount_Unit</name>
            <choiceReferences>Drug_Amount_Unit_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Drug Amount Unit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ordered_By</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Animal_Exam_Sheet.Doctor__c</elementReference>
            </defaultValue>
            <fieldText>Ordered By</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dispensed_By</name>
            <dataType>String</dataType>
            <fieldText>Dispensed By</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Editor</name>
            <dataType>String</dataType>
            <fieldText>Editor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>Get_Animal_Exam_Sheet</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newControlledDrugID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
