force-app/main/default/flows/Animal_Send_Edit_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Update_Forensic_Hold_Changed_Date</name>
        <label>Update Forensic Hold Changed Date</label>
        <locationX>816</locationX>
        <locationY>1077</locationY>
        <assignmentItems>
            <assignToReference>animalRecord.Forensic_Hold_Changed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>animalRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_RTA_RTO_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Initial_Animal_Weight</name>
        <label>Update Initial Animal Weight</label>
        <locationX>816</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>animalRecord.Initial_Weight_in_kgs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Current_Weight_in_kgs_Num__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>animalRecord.Initial_Weight_in_lbs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Current_Weight_in_lbs_Num__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>animalRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Previous_Animal_Weight</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Open_Case_Letter_Changed_Date</name>
        <label>Update Open Case Letter Changed Date</label>
        <locationX>816</locationX>
        <locationY>1496</locationY>
        <assignmentItems>
            <assignToReference>animalRecord.Open_Case_Letter_Changed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>animalRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Animal_Deceased</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Open_Case_Letter_Changed_Date_0</name>
        <label>Update Open Case Letter Changed Date</label>
        <locationX>816</locationX>
        <locationY>1700</locationY>
        <assignmentItems>
            <assignToReference>animalRecord.Open_Case_Letter_Civicore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>animalRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Animal_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Previous_Animal_Weight</name>
        <label>Update Previous Animal Weight</label>
        <locationX>816</locationX>
        <locationY>856</locationY>
        <assignmentItems>
            <assignToReference>animalRecord.Previous_Weight_in_kgs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Current_Weight_in_kgs_Num__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>animalRecord.Previous_Weight_in_lbs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Current_Weight_in_lbs_Num__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>animalRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_Forensic_Hold_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_RTA_RTO_Changed_Date</name>
        <label>Update RTA/RTO Changed Date</label>
        <locationX>816</locationX>
        <locationY>1288</locationY>
        <assignmentItems>
            <assignToReference>animalRecord.RTA_RTO_Changed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>animalRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_Open_Case_Letter_Change</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Animal_Updates</name>
        <label>Check For Animal Updates</label>
        <locationX>508</locationX>
        <locationY>1904</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Animal_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>animalRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Animal</targetReference>
            </connector>
            <label>Animal Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Forensic_Hold_Change</name>
        <label>Did Forensic Hold Change?</label>
        <locationX>508</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Did_RTA_RTO_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Forensic Hold Not Changed</defaultConnectorLabel>
        <rules>
            <name>Forensic_Hold_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Forensic_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Forensic_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Forensic_Hold_Changed_Date</targetReference>
            </connector>
            <label>Forensic Hold Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Open_Case_Letter_Change</name>
        <label>Did Open Case Letter Change?</label>
        <locationX>508</locationX>
        <locationY>1498</locationY>
        <defaultConnector>
            <targetReference>Is_Animal_Deceased</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open Case Letter Not Changed</defaultConnectorLabel>
        <rules>
            <name>Open_Case_Letter_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Open_Case_Letter_Civicore__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Open_Case_Letter_Civicore__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Open_Case_Letter_Changed_Date</targetReference>
            </connector>
            <label>Open Case Letter Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_RTA_RTO_Change</name>
        <label>Did RTA/RTO Change?</label>
        <locationX>508</locationX>
        <locationY>1290</locationY>
        <defaultConnector>
            <targetReference>Did_Open_Case_Letter_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RTA/RTO Not Changed</defaultConnectorLabel>
        <rules>
            <name>RTA_RTO_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.RTA_RTO__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RTA_RTO__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RTA_RTO_Changed_Date</targetReference>
            </connector>
            <label>RTA/RTO Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Initial_Animal_Weight</name>
        <label>Initial Animal Weight</label>
        <locationX>508</locationX>
        <locationY>645</locationY>
        <defaultConnector>
            <targetReference>Previous_Animal_Weight</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Update Initial Animal Weight</defaultConnectorLabel>
        <rules>
            <name>Populate_Initial_Animal_Weight</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Initial_Weight_in_kgs__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Initial_Weight_in_lbs__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Weight_in_kgs_Num__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Weight_in_lbs_Num__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Initial_Animal_Weight</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Populate Initial Animal Weight</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Animal_Deceased</name>
        <label>Is Animal Deceased?</label>
        <locationX>508</locationX>
        <locationY>1702</locationY>
        <defaultConnector>
            <targetReference>Check_For_Animal_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Deceased</defaultConnectorLabel>
        <rules>
            <name>Deceased</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Final_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deceased</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Open_Case_Letter_Changed_Date_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Deceased</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Animal_Weight</name>
        <label>Previous Animal Weight</label>
        <locationX>508</locationX>
        <locationY>858</locationY>
        <defaultConnector>
            <targetReference>Did_Forensic_Hold_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Animal Weight Not Changed</defaultConnectorLabel>
        <rules>
            <name>Animal_Weight_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Current_Weight_in_kgs_Num__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Current_Weight_in_kgs_Num__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Current_Weight_in_lbs_Num__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Current_Weight_in_lbs_Num__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_Animal_Weight</targetReference>
            </connector>
            <label>Animal Weight Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_A_Notification_Field_Updated</name>
        <label>Was A Notification Field Updated?</label>
        <locationX>508</locationX>
        <locationY>151</locationY>
        <defaultConnector>
            <targetReference>Was_Animal_Sex_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Notification Fields Not Updated</defaultConnectorLabel>
        <rules>
            <name>Notification_Field_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type_of_Animal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Type_of_Animal__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Breed__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Breed__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Age__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Estimated_Date_of_Birth__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Estimated_Date_of_Birth__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Intake_BCS__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Intake_BCS__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Color__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Color__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Secondary_Color__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Secondary_Color__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Tertiary_Color__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Tertiary_Color__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Markings__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Markings__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Animal_Sex_Updated</targetReference>
            </connector>
            <label>Notification Field Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Animal_Sex_Updated</name>
        <label>Was Animal Sex Updated?</label>
        <locationX>508</locationX>
        <locationY>380</locationY>
        <defaultConnector>
            <targetReference>Initial_Animal_Weight</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sex Not Updated</defaultConnectorLabel>
        <rules>
            <name>Sex_Updated_FI_or_FU</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Gender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Gender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National Criminal Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Spay_Procedure</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Sex Updated - FI or FU</label>
        </rules>
        <rules>
            <name>Sex_Updated_MI_or_MU</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Gender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Gender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National Criminal Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Neuter_Procedure</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Sex Updated - MI or MU</label>
        </rules>
    </decisions>
    <interviewLabel>Animal - Send Edit Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - Field Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Neuter_Procedure</name>
        <label>Create Neuter Procedure</label>
        <locationX>816</locationX>
        <locationY>451</locationY>
        <connector>
            <targetReference>Initial_Animal_Weight</targetReference>
        </connector>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Editor__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure__c</field>
            <value>
                <stringValue>Neuter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Requested by Medical</stringValue>
            </value>
        </inputAssignments>
        <object>Procedure__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Spay_Procedure</name>
        <label>Create Spay Procedure</label>
        <locationX>816</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>Initial_Animal_Weight</targetReference>
        </connector>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Editor__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure__c</field>
            <value>
                <stringValue>Spay</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Requested by Medical</stringValue>
            </value>
        </inputAssignments>
        <object>Procedure__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Animal</name>
        <label>Update Animal</label>
        <locationX>816</locationX>
        <locationY>1902</locationY>
        <inputReference>animalRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Was_A_Notification_Field_Updated</targetReference>
        </connector>
        <object>Animal__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>animalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
</Flow>
