force-app/main/default/flows/Animal_Exam_Sheet_Discharge_Outcome.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Euthanized_or_Deceased</name>
        <label>Euthanized or Deceased?</label>
        <locationX>896</locationX>
        <locationY>161</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Euthanized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discharge Exam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exam_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Euthanasia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Euthanized_Outcome</targetReference>
            </connector>
            <label>Euthanized</label>
        </rules>
        <rules>
            <name>Deceased</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discharge Exam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exam_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deceased</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Deceased_Outcome</targetReference>
            </connector>
            <label>Deceased</label>
        </rules>
    </decisions>
    <interviewLabel>Euthanasia or Deceased? {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal Exam Sheet - Discharge Outcome</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Deceased_Outcome</name>
        <label>Create Deceased Outcome</label>
        <locationX>1120</locationX>
        <locationY>252</locationY>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deceased_Reason__c</field>
            <value>
                <elementReference>$Record.Deceased_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility_Outcome__c</field>
            <value>
                <stringValue>Deceased</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility_or_Outcome__c</field>
            <value>
                <stringValue>Outcome</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Exam_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <object>Facility_Outcome__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Euthanized_Outcome</name>
        <label>Create Euthanized Outcome</label>
        <locationX>1120</locationX>
        <locationY>63</locationY>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Euthanasia_Reason__c</field>
            <value>
                <elementReference>$Record.Euthanasia_Reason_List__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility_Outcome__c</field>
            <value>
                <stringValue>Euthanized</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility_or_Outcome__c</field>
            <value>
                <stringValue>Outcome</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Exam_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <object>Facility_Outcome__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>448</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Euthanized_or_Deceased</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>Exam_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Euthanasia</stringValue>
            </value>
        </filters>
        <filters>
            <field>Euthanasia_Reason_List__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Exam_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deceased</stringValue>
            </value>
        </filters>
        <object>Animal_Exam_Sheet__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
