force-app/main/default/flows/Animal_Add_Weight_Exam.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Animal_To_List</name>
        <label>Add Animal To List</label>
        <locationX>942</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>selectedAnimals</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Animal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Animal_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Weight_Exam_To_List</name>
        <label>Add Weight Exam To List</label>
        <locationX>1390</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>newWeightExams</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newAnimalExam</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalExam</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Animals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Weight_Exam</name>
        <label>Create Weight Exam</label>
        <locationX>1249</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>newAnimalExam.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Weight_Exam_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalExam.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Animals.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalExam.Weight_in_kgs_Num__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Weight_in_kgs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalExam.Exam_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Weight</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalExam.Exam_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalExam.Exam_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Weight_Exam_To_List</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Animal - Add Weight Exam {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - Add Weight Exam</label>
    <loops>
        <name>Loop_Through_Animals</name>
        <label>Loop Through Animals</label>
        <locationX>1249</locationX>
        <locationY>256</locationY>
        <collectionReference>selectedAnimals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_Weight_Exam_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Animal_Exams</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Selected_Animal_IDs</name>
        <label>Loop Through Selected Animal IDs</label>
        <locationX>852</locationX>
        <locationY>256</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Animal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Weight_Exam_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Animal_Exams</name>
        <label>Create Animal Exams</label>
        <locationX>1492</locationX>
        <locationY>256</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>newWeightExams</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Animal</name>
        <label>Get Animal</label>
        <locationX>757</locationX>
        <locationY>471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Animal_To_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Selected_Animal_IDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Animal__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Animal_Formula__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Weight_Exam_Record_Type</name>
        <label>Get Weight Exam Record Type</label>
        <locationX>1060</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Animals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Weight Exam Sheet</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Animal_Exam_Sheet__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1492</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;There was an error updating the animal&apos;s weight. Please contact your administrator for more information.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Weight_Exam_Screen</name>
        <label>New Weight Exam Screen</label>
        <locationX>1107</locationX>
        <locationY>471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Weight_Exam</targetReference>
        </connector>
        <fields>
            <name>Add_Weight_Exam_Text</name>
            <fieldText>&lt;p&gt;Enter the new weight for &lt;b&gt;{!Loop_Through_Animals.Animal_Formula__c}&lt;/b&gt; below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Weight_in_kgs</name>
            <dataType>Number</dataType>
            <fieldText>Weight (in kgs)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1659</locationX>
        <locationY>256</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Text</name>
            <fieldText>&lt;p&gt;The animal(s) were successfully updated. &lt;a href=&quot;/lightning/o/Animal__c/list&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;&lt;u&gt;Please click here to return to the list.&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>449</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>Loop_Through_Selected_Animal_IDs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newAnimalExam</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal_Exam_Sheet__c</objectType>
    </variables>
    <variables>
        <name>newExamSheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newWeightExams</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal_Exam_Sheet__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedAnimals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
</Flow>
