force-app/main/default/flows/Animal_Exam_Sheet_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Are_Weight_Fields_Populated</name>
        <label>Are Weight Fields Populated?</label>
        <locationX>907</locationX>
        <locationY>149</locationY>
        <defaultConnectorLabel>No Weight Entered</defaultConnectorLabel>
        <rules>
            <name>Weight_kgs_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Weight_in_kgs_Num__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weight_in_kgs_Num__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Animal_kgs</targetReference>
            </connector>
            <label>Weight (kgs) Entered</label>
        </rules>
        <rules>
            <name>Weight_lbs_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Weight_in_lbs_Num__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weight_in_lbs_Num__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Animal_lbs</targetReference>
            </connector>
            <label>Weight (lbs) Entered</label>
        </rules>
    </decisions>
    <interviewLabel>Animal Exam Sheet - After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal Exam Sheet - After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Animal_kgs</name>
        <label>Update Animal (kgs)</label>
        <locationX>1202</locationX>
        <locationY>5</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Weight_in_kgs_Num__c</field>
            <value>
                <elementReference>$Record.Weight_in_kgs_Num__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Weight_in_lbs_Num__c</field>
            <value>
                <elementReference>$Record.Weight_in_lbs_Calc__c</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Animal_lbs</name>
        <label>Update Animal (lbs)</label>
        <locationX>1202</locationX>
        <locationY>147</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Weight_in_kgs_Num__c</field>
            <value>
                <elementReference>$Record.Weight_in_kgs_Calc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Weight_in_lbs_Num__c</field>
            <value>
                <elementReference>$Record.Weight_in_lbs_Num__c</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <start>
        <locationX>441</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Are_Weight_Fields_Populated</targetReference>
        </connector>
        <object>Animal_Exam_Sheet__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
