force-app/main/default/flows/Animal_Exam_Sheet_Update_Animal_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_DVM_Task_To_List</name>
        <label>Add DVM Task To List</label>
        <locationX>1097</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>examTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>examTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Recheck_CBC_Chem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Recheck_CBC_Chem_Task_To_List</name>
        <label>Add Recheck CBC/Chem Task To List</label>
        <locationX>1397</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>examTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>examTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Recheck_PCV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Recheck_PCV_Task_To_List</name>
        <label>Add Recheck PCV Task To List</label>
        <locationX>1708</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>examTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>examTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Weight_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Weight_Check_Task_To_List</name>
        <label>Add Weight Check Task To List</label>
        <locationX>2017</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>examTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>examTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Are_There_Exam_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_DVM_Task</name>
        <label>Create DVM Task</label>
        <locationX>950</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>examTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>twentyEightDays</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recheck ears, claro applied 28 days ago.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DVM Recheck - Claro</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Admin.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.Animal_Exam_Sheet_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal_Exam_Sheet__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_DVM_Task_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Recheck_CBC_Chem_Task</name>
        <label>Create Recheck CBC/Chem Task</label>
        <locationX>1250</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>examTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>twoWeeks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send out CBC/Chem to Antech.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recheck CBC/Chem, NSAIDs</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Admin.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.Animal_Exam_Sheet_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Recheck_CBC_Chem_Task_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Recheck_PCV_Task</name>
        <label>Create Recheck PCV Task</label>
        <locationX>1561</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>examTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oneWeek</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recheck PCV, if not in normal range schedule next recheck.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recheck PCV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Admin.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.Animal_Exam_Sheet_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Recheck_PCV_Task_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Weight_Check_Task</name>
        <label>Create Weight Check Task</label>
        <locationX>1870</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>examTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oneWeek</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recheck weight and BCS. Schedule next recheck if not in normal range.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Weight Check - Underweight</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Admin.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>examTask.Animal_Exam_Sheet_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Weight_Check_Task_To_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_There_Exam_Tasks</name>
        <label>Are There Exam Tasks?</label>
        <locationX>2156</locationX>
        <locationY>593</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exam_Tasks_To_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>examTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Exam_Tasks</targetReference>
            </connector>
            <label>Exam Tasks To Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_A_Signalment_Field_Change</name>
        <label>Did A Signalment Field Change?</label>
        <locationX>526</locationX>
        <locationY>151</locationY>
        <defaultConnector>
            <targetReference>Did_Dental_Grade_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Signalment Field Not Changed</defaultConnectorLabel>
        <rules>
            <name>Signalment_Field_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Species_PL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Species_PL__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Breed_Text__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Breed_Text__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Age_Estimate_Picklist__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Age_Estimate_Picklist__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.BCS__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BCS__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Primary_Color__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Primary_Color__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Secondary_Color__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Secondary_Color__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Tertiary_Color__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Tertiary_Color__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Markings__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Markings__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sex__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Sex__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Scanned_for_Microchip__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Scanned_for_Microchip__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Microchip_Results__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Microchip_Results__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Microchip_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Microchip_Number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Equine_Body_Pattern__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Equine_Body_Pattern__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Equine_Leg_Marking__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Equine_Leg_Marking__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Forensic_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Forensic_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Forensic_Hold_Release_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Forensic_Hold_Release_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Forensic_Hold_Released_By__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Forensic_Hold_Released_By__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Avian_BCS__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Avian_BCS__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Animal</targetReference>
            </connector>
            <label>Signalment Field Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Dental_Grade_Change</name>
        <label>Did Dental Grade Change?</label>
        <locationX>526</locationX>
        <locationY>372</locationY>
        <defaultConnector>
            <targetReference>Did_Exam_Task_List_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dental Grade Not Changed</defaultConnectorLabel>
        <rules>
            <name>Dental_Grade_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dental_Grade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2-3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dental_Grade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dental_Grade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3-4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dental_Grade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Dental_Procedure</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Dental Grade Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Exam_Task_List_Change</name>
        <label>Did Exam Task List Change?</label>
        <locationX>526</locationX>
        <locationY>593</locationY>
        <defaultConnector>
            <targetReference>Did_The_Weight_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exam Tasks Not Changed</defaultConnectorLabel>
        <rules>
            <name>Exam_Tasks_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Exam_Tasks__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Exam_Tasks__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Medical_Admin</targetReference>
            </connector>
            <label>Exam Tasks Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_The_Weight_Change</name>
        <label>Did The Weight Change?</label>
        <locationX>526</locationX>
        <locationY>818</locationY>
        <defaultConnectorLabel>Weight Did Not Change</defaultConnectorLabel>
        <rules>
            <name>Weight_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Weight_in_kgs_Num__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Weight_in_kgs_Num__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Weight_in_lbs_Num__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Weight_in_lbs_Num__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Animal_Weight</targetReference>
            </connector>
            <label>Weight Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>DVM_Recheck</name>
        <label>DVM Recheck</label>
        <locationX>942</locationX>
        <locationY>593</locationY>
        <defaultConnector>
            <targetReference>Recheck_CBC_Chem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Add Task</defaultConnectorLabel>
        <rules>
            <name>Add_DVM_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Exam_Tasks__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DVM Recheck - Claro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_DVM_Task</targetReference>
            </connector>
            <label>Add DVM Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recheck_CBC_Chem</name>
        <label>Recheck CBC/Chem</label>
        <locationX>1242</locationX>
        <locationY>593</locationY>
        <defaultConnector>
            <targetReference>Recheck_PCV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Add Task</defaultConnectorLabel>
        <rules>
            <name>Add_Recheck_CBC_Chem_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Exam_Tasks__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Recheck CBC/Chem, NSAIDs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Recheck_CBC_Chem_Task</targetReference>
            </connector>
            <label>Add Recheck CBC/Chem Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recheck_PCV</name>
        <label>Recheck PCV</label>
        <locationX>1553</locationX>
        <locationY>593</locationY>
        <defaultConnector>
            <targetReference>Weight_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Add Task</defaultConnectorLabel>
        <rules>
            <name>Add_Recheck_PCV_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Exam_Tasks__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Recheck PCV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Recheck_PCV_Task</targetReference>
            </connector>
            <label>Add Recheck PCV Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Weight_Check</name>
        <label>Weight Check</label>
        <locationX>1862</locationX>
        <locationY>593</locationY>
        <defaultConnector>
            <targetReference>Are_There_Exam_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Add Task</defaultConnectorLabel>
        <rules>
            <name>Add_Weight_Check_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Exam_Tasks__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Weight Check - Underweight</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Weight_Check_Task</targetReference>
            </connector>
            <label>Add Weight Check Task</label>
        </rules>
    </decisions>
    <formulas>
        <name>animalBCS</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISPICKVAL({!$Record.Avian_BCS__c}, &quot;&quot;)), TEXT({!$Record.Avian_BCS__c}), TEXT({!$Record.BCS__c}))</expression>
    </formulas>
    <formulas>
        <name>dentalStatus</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Exam_Type__c}, &quot;Forensic&quot;), &quot;Requested by Forensics&quot;, &quot;Requested by Medical&quot;)</expression>
    </formulas>
    <formulas>
        <name>oneWeek</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <formulas>
        <name>twentyEightDays</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 28</expression>
    </formulas>
    <formulas>
        <name>twoWeeks</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 14</expression>
    </formulas>
    <formulas>
        <name>weightKGS</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record__Prior.Weight_in_kgs_Num__c} != {!$Record.Weight_in_kgs_Num__c}, {!$Record.Weight_in_kgs_Num__c}, {!$Record.Weight_in_kgs_Calc__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>weightLBS</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record__Prior.Weight_in_lbs_Num__c} != {!$Record.Weight_in_lbs_Num__c}, {!$Record.Weight_in_lbs_Num__c}, {!$Record.Weight_in_lbs_Calc__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Animal Exam Sheet - Update Animal Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal Exam Sheet - Field Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Dental_Procedure</name>
        <label>Create Dental Procedure</label>
        <locationX>776</locationX>
        <locationY>370</locationY>
        <connector>
            <targetReference>Did_Exam_Task_List_Change</targetReference>
        </connector>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>$Record.Animal__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Editor__c</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure__c</field>
            <value>
                <stringValue>Dental</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>dentalStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Procedure__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exam_Tasks</name>
        <label>Create Exam Tasks</label>
        <locationX>2386</locationX>
        <locationY>591</locationY>
        <connector>
            <targetReference>Did_The_Weight_Change</targetReference>
        </connector>
        <inputReference>examTasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Medical_Admin</name>
        <label>Get Medical Admin</label>
        <locationX>776</locationX>
        <locationY>591</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DVM_Recheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>medadmin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Animal</name>
        <label>Update Animal</label>
        <locationX>776</locationX>
        <locationY>148</locationY>
        <connector>
            <targetReference>Did_Dental_Grade_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Animal__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Age__c</field>
            <value>
                <elementReference>$Record.Age_Estimate_Picklist__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breed__c</field>
            <value>
                <elementReference>$Record.Breed_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Color__c</field>
            <value>
                <elementReference>$Record.Primary_Color__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equine_Body_Pattern__c</field>
            <value>
                <elementReference>$Record.Equine_Body_Pattern__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equine_Leg_Marking__c</field>
            <value>
                <elementReference>$Record.Equine_Leg_Marking__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forensic_Hold_Release_Date__c</field>
            <value>
                <elementReference>$Record.Forensic_Hold_Release_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forensic_Hold_Released_By__c</field>
            <value>
                <elementReference>$Record.Forensic_Hold_Released_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forensic_Status__c</field>
            <value>
                <elementReference>$Record.Forensic_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Sex__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_BCS__c</field>
            <value>
                <elementReference>animalBCS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Markings__c</field>
            <value>
                <elementReference>$Record.Markings__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Microchip_Number__c</field>
            <value>
                <elementReference>$Record.Microchip_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Microchip_Results__c</field>
            <value>
                <elementReference>$Record.Microchip_Results__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scanned_for_Microchip__c</field>
            <value>
                <elementReference>$Record.Scanned_for_Microchip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Color__c</field>
            <value>
                <elementReference>$Record.Secondary_Color__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tertiary_Color__c</field>
            <value>
                <elementReference>$Record.Tertiary_Color__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Animal__c</field>
            <value>
                <elementReference>$Record.Species_PL__c</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Animal_Weight</name>
        <label>Update Animal Weight</label>
        <locationX>776</locationX>
        <locationY>816</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Weight_in_kgs_Num__c</field>
            <value>
                <elementReference>weightKGS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Weight_in_lbs_Num__c</field>
            <value>
                <elementReference>weightLBS</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Did_A_Signalment_Field_Change</targetReference>
        </connector>
        <object>Animal_Exam_Sheet__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>examTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>examTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
