force-app/main/default/flows/Animal_Exam_Sheet_New_Evidence.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Refresh_Page</name>
        <label>Refresh Page</label>
        <locationX>1227</locationX>
        <locationY>255</locationY>
        <actionName>c:redirectFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <dynamicChoiceSets>
        <name>Current_Location_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Location__c</picklistField>
        <picklistObject>Evidence__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DNA_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DNA_Serology__c</picklistField>
        <picklistObject>Evidence__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Drug_Amount_Unit_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Drug_Amount_Unit__c</picklistField>
        <picklistObject>Controlled_Drug__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Drug_Chemistry_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Drug_Chemistry__c</picklistField>
        <picklistObject>Evidence__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Entomology_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Entomology__c</picklistField>
        <picklistObject>Evidence__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Evidence_Category_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Evidence_Category__c</picklistField>
        <picklistObject>Evidence__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Evidence_Type_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Evidence_Type__c</picklistField>
        <picklistObject>Evidence__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Necropsy_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Neocropsy__c</picklistField>
        <picklistObject>Evidence__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Osteology_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Osteology__c</picklistField>
        <picklistObject>Evidence__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Other_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Other__c</picklistField>
        <picklistObject>Evidence__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Toxicology_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Toxicology__c</picklistField>
        <picklistObject>Evidence__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>recordTypeName</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!$User.ProfileId}, 15) = LEFT({!Get_NY_Profile.Id}, 15), &quot;Case Evidence - NY&quot;, &quot;Case Evidence&quot;)</expression>
    </formulas>
    <interviewLabel>Animal Exam Sheet - New Evidence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal Exam Sheet - New Evidence</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Evidence</name>
        <label>Create Evidence</label>
        <locationX>1080</locationX>
        <locationY>255</locationY>
        <connector>
            <targetReference>Refresh_Page</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Animal_Exam_Sheet__c</field>
            <value>
                <elementReference>Get_Animal_Exam_Sheet.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>Get_Animal_Exam_Sheet.Animal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Case.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection_Date__c</field>
            <value>
                <elementReference>Collection_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Location__c</field>
            <value>
                <elementReference>Current_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DISPO__c</field>
            <value>
                <elementReference>DISPO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNA_Serology__c</field>
            <value>
                <elementReference>DNA_Serology</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drug_Chemistry__c</field>
            <value>
                <elementReference>Drug_Chemistry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entomology__c</field>
            <value>
                <elementReference>Entomology</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evidence_Category__c</field>
            <value>
                <elementReference>evidenceCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evidence_Description__c</field>
            <value>
                <elementReference>Evidence_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evidence_Type__c</field>
            <value>
                <elementReference>evidenceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HOLD__c</field>
            <value>
                <elementReference>Hold</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Neocropsy__c</field>
            <value>
                <elementReference>Necropsy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Osteology__c</field>
            <value>
                <elementReference>Osteology</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Details__c</field>
            <value>
                <elementReference>Other_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other__c</field>
            <value>
                <elementReference>Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Received_Collected_By__c</field>
            <value>
                <elementReference>Received_Collected_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_Evidence_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scene_Location__c</field>
            <value>
                <elementReference>Location_Collected.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Toxicology__c</field>
            <value>
                <elementReference>Toxicology</elementReference>
            </value>
        </inputAssignments>
        <object>Evidence__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Animal_Exam_Sheet</name>
        <label>Get Animal Exam Sheet</label>
        <locationX>451</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NY_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Animal_Exam_Sheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Evidence_Record_Type</name>
        <label>Get Case Evidence Record Type</label>
        <locationX>764</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Evidence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NY_Profile</name>
        <label>Get NY Profile</label>
        <locationX>604</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Evidence_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ASPCA - Forensics (NYC)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1080</locationX>
        <locationY>49</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;There was an error creating the record. Please contact your administrator for more information.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Evidence</name>
        <label>New Evidence</label>
        <locationX>927</locationX>
        <locationY>255</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Evidence</targetReference>
        </connector>
        <fields>
            <name>New_Evidence_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Evidence_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Item</name>
                    <dataType>String</dataType>
                    <fieldText>Item #</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Case</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Case__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Evidence__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Animal_Exam_Sheet.Animal__r.Case__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Evidence_Category_Type</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Evidence__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Evidence_Category__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Evidence_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Evidence Category</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Evidence Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>evidenceCategory</assignToReference>
                        <name>topValue</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>evidenceType</assignToReference>
                        <name>middleValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Hold</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Hold</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DISPO</name>
                    <dataType>Boolean</dataType>
                    <fieldText>DISPO</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Animal_Exam_Sheet</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Animal_Exam_Sheet__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Animal Exam Sheet</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Evidence__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Animal_Exam_Sheet.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Evidence_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location_Collected</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Scene_Location__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Location Collected</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Evidence__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Current_Location</name>
                    <choiceReferences>Current_Location_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Current Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Collection_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Collection Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Received_Collected_By</name>
                    <dataType>String</dataType>
                    <fieldText>Received/Collected By</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Evidence_Description</name>
            <fieldText>Evidence Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Forensic_Analysis</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Forensic Analysis&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Evidence_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Evidence_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Drug_Chemistry</name>
                    <choiceReferences>Drug_Chemistry_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Drug Chemistry</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Toxicology</name>
                    <choiceReferences>Toxicology_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Toxicology</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Entomology</name>
                    <choiceReferences>Entomology_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Entomology</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Necropsy</name>
                    <choiceReferences>Necropsy_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Necropsy</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Evidence_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Osteology</name>
                    <choiceReferences>Osteology_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Osteology</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>DNA_Serology</name>
                    <choiceReferences>DNA_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>DNA/Serology</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Other</name>
                    <choiceReferences>Other_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Other_Details</name>
                    <fieldText>Other Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>Get_Animal_Exam_Sheet</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>evidenceCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>evidenceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newControlledDrugID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
