force-app/main/default/flows/Animal_Exam_Sheet_Forensics_Exam_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <formulas>
        <name>intakeExamID</name>
        <dataType>String</dataType>
        <expression>{!Get_Exam_Sheet.Animal_Exam_Sheet__r.Id}</expression>
    </formulas>
    <interviewLabel>Animal Exam Sheet - Forensics Exam Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal Exam Sheet - Forensics Exam Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Exam_Sheet</name>
        <label>Get Exam Sheet</label>
        <locationX>442</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Intake_Exam_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Animal_Exam_Sheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Intake_Exam_Screen</name>
        <label>Intake Exam Screen</label>
        <locationX>591</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Intake_Exam_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Intake Exam Veterinarian: &lt;/b&gt;{!Get_Exam_Sheet.Intake_Exam_Veterinarian_Formula__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Intake Exam Date/Time: &lt;/b&gt;{!Get_Exam_Sheet.Intake_Exam_Date_Time_Formula__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Intake Exam: &lt;/b&gt;&lt;a href=&quot;/{!intakeExamID}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Exam_Sheet.Animal_Exam_Sheet__r.Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Exam_Sheet</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
