force-app/main/default/flows/AssignPlan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Assign_Plan</name>
        <label>Assign Plan</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <actionName>InvocableActionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ResponseCheck</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>assignPlan</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <stringValue>assignPlanFromEval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetSObject</name>
            <value>
                <stringValue>Treatment_Plan__c</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Plan_Values</name>
        <label>Assign Plan Values</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>newTreatmentPlan.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Get_Current_Animal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTreatmentPlan.Treatment_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputPriority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTreatmentPlan.IsActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBundle</name>
        <label>AssignBundle</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>newTreatmentPlan.AssignedTreatmentBundleId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedBundleOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePlan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ResponseCheck</name>
        <label>ResponseCheck</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Evaluation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Plan Found</defaultConnectorLabel>
        <rules>
            <name>No_Plan_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Plan.ResponseValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO PLAN FOUND</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Plan_Screen</targetReference>
            </connector>
            <label>No Plan Found</label>
        </rules>
    </decisions>
    <description>New Version</description>
    <dynamicChoiceSets>
        <name>inputBundle</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsMaster__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Treatment_Bundle__c</object>
        <outputAssignments>
            <assignToReference>selectedBundleOutput</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>treatmentPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Treatment_Priority__c</picklistField>
        <picklistObject>Treatment_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>AssignPlan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AssignPlan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Plan</name>
        <label>Create Plan</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>AssignBundle</targetReference>
        </connector>
        <inputReference>newTreatmentPlan</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Animal</name>
        <label>Get Current Animal</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Treatment_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Evaluation.Animal__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Animal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Evaluation</name>
        <label>Get Evaluation</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Animal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Behavior_Evaluation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Treatment_Plan</name>
        <label>Get Treatment Plan</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Go_to_Treatment_Plan</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Animal.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Treatment_Plan__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>New_Get_Current_Animal</name>
        <label>Get Current Animal</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Plan_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Evaluation.Animal__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Animal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>New_Get_Evaluation</name>
        <label>Get Evaluation</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Get_Current_Animal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Behavior_Evaluation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePlan</name>
        <label>UpdatePlan</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <inputReference>newTreatmentPlan</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_New_Plan_Screen</name>
        <label>Create New Plan Screen</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Get_Evaluation</targetReference>
        </connector>
        <fields>
            <name>inputPriority</name>
            <choiceReferences>treatmentPriority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Treatment Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputTreatmentBundleScreen</name>
            <choiceReferences>inputBundle</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Bundle Assignment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>Error</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoActiveTreatmentPlan</name>
            <fieldText>&lt;p&gt;No Active Treatment Plan For Animal&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Go_to_Treatment_Plan</name>
        <label>Go to Treatment Plan</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Button_LWC</name>
            <extensionName>c:lwc_FlowScreenNavigator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>apiName</name>
                <value>
                    <stringValue>Treatment_Plan__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonName</name>
                <value>
                    <stringValue>Go to Treatment Plan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Treatment_Plan.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Plan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newTreatmentPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Treatment_Plan__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedBundleOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
