force-app/main/default/flows/Behavior_Grade_Change_Initial.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Behavior_Grade_Change_Notification_Initial</name>
        <label>Animal__c.Behavior_Grade_Change_Notification_Initial</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>Animal__c.Behavior_Grade_Change_Notification_Initial</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <description>Migrated from the: Behavior Grade Change - Initial workflow rule
Workflow rule description: This rule is run whenever &quot;Current Behavior Grade&quot; is changed from a blank value to any of the available dropdown values.&quot;</description>
    <formulas>
        <name>Preserve_Preliminary_Behavior_GradeFormula</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE($Record.Preliminary_Behavior_Grade__c)</expression>
    </formulas>
    <label>Behavior Grade Change - Initial</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Store the preliminary behavior grade in &quot;Previous Behavior Grade&quot; field.
Clear the text value from &quot;Preliminary Behavior Grade&quot;</description>
        <name>mainUpdate</name>
        <label>mainUpdate</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Behavior_Grade_Change_Notification_Initial</targetReference>
        </connector>
        <inputAssignments>
            <field>Preliminary_Behavior_Grade__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Behavior_Grade__c</field>
            <value>
                <elementReference>Preserve_Preliminary_Behavior_GradeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>mainUpdate</targetReference>
        </connector>
        <object>Animal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
