force-app/main/default/flows/Behavior_Profile_to_send_out.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Behavior_Profile_Summary_Send_Email_Alert</name>
        <label>Behavior Profile Summary Send Email Alert</label>
        <locationX>823</locationX>
        <locationY>434</locationY>
        <actionName>Behavior_Evaluation__c.Behavior_Profile_Summary_Send_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Behavior_Summary.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Behavior_Email_Alert</name>
        <label>Send Behavior Email Alert</label>
        <locationX>771</locationX>
        <locationY>198</locationY>
        <actionName>BehaviorProfileSendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screen_1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>behEvaluations</name>
            <value>
                <elementReference>Get_Behavior_Summary</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <description>Card# 172 ARC &amp; CARE - Behavior Profile to send out</description>
    <interviewLabel>Behavior Profile to send out {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Behavior Profile to send out</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_animal</name>
        <label>get animal</label>
        <locationX>411</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Behavior_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Animal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Behavior_Summary</name>
        <label>Get Behavior Summary</label>
        <locationX>624</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Behavior_Email_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Behavior_Evaluation__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screen_1</name>
        <label>screen 1</label>
        <locationX>900</locationX>
        <locationY>198</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>messege</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Email Sent Successfully&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_animal</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BehSumm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Behavior_Summary.Behavior_Evaluation_Summary__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
