force-app/main/default/flows/Case_Case_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Reminder_Email</name>
        <label>Send Reminder Email</label>
        <locationX>741</locationX>
        <locationY>782</locationY>
        <actionName>Case.National_Case_Reminder_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Update_Reminder_Email</name>
        <label>Send Update Reminder Email</label>
        <locationX>568</locationX>
        <locationY>793</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>reminderBodyRich</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>caseLeadEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>reminderSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Is_Case_Closed</name>
        <label>Is Case Closed?</label>
        <locationX>935</locationX>
        <locationY>149</locationY>
        <defaultConnector>
            <targetReference>National_Case_Reminder_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Open</defaultConnectorLabel>
        <rules>
            <name>Case_Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Arrest</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - No Arrest</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Disaster</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Animals</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Case Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>National_Case_Reminder_Email</name>
        <label>National Case Reminder Email</label>
        <locationX>935</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>Was_Precinct_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Populate Update Date</defaultConnectorLabel>
        <rules>
            <name>Populate_Update_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Next_Update_Reminder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Next_Update_Reminder__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National Criminal Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reminder_Email_Date</targetReference>
            </connector>
            <label>Populate Update Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_National_Case_Reminder_Email</name>
        <label>Send National Case Reminder Email</label>
        <locationX>561</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Don&apos;t Populate Update Date</defaultConnectorLabel>
        <rules>
            <name>Populate_Update_Date_and_Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National Criminal Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expert Services - Forensic Science</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Next_Reminder_Email_Date</targetReference>
            </connector>
            <label>Populate Update Date and Send Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Precinct_Changed</name>
        <label>Was Precinct Changed?</label>
        <locationX>935</locationX>
        <locationY>561</locationY>
        <defaultConnectorLabel>Precinct Not Changed</defaultConnectorLabel>
        <rules>
            <name>Precinct_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.NYPD_Complaint_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.NYPD_Complaint_Number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Precinct__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Precinct__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Borough_Liaison</targetReference>
            </connector>
            <label>Precinct Changed</label>
        </rules>
    </decisions>
    <formulas>
        <name>boroughLiaison</name>
        <dataType>String</dataType>
        <expression>IF(AND(VALUE(MID({!$Record.NYPD_Complaint_Number__c}, 6, 3)) &gt; 0, VALUE(MID({!$Record.NYPD_Complaint_Number__c}, 6, 3)) &lt;=19), &quot;0035A00003mpkEAQAY&quot;,
IF(AND(VALUE(MID({!$Record.NYPD_Complaint_Number__c}, 6, 3)) &gt; 19, VALUE(MID({!$Record.NYPD_Complaint_Number__c}, 6, 3)) &lt;=34), &quot;0035A00003mpkEeQAI&quot;,
IF(AND(VALUE(MID({!$Record.NYPD_Complaint_Number__c}, 6, 3)) &gt; 34, VALUE(MID({!$Record.NYPD_Complaint_Number__c}, 6, 3)) &lt;=52), &quot;0035A00003mpkEeQAI&quot;,
IF(AND(VALUE(MID({!$Record.NYPD_Complaint_Number__c}, 6, 3)) &gt; 52, VALUE(MID({!$Record.NYPD_Complaint_Number__c}, 6, 3)) &lt;=94), &quot;0036e00003x5qvTAAQ&quot;,
IF(AND(VALUE(MID({!$Record.NYPD_Complaint_Number__c}, 6, 3)) &gt; 94, VALUE(MID({!$Record.NYPD_Complaint_Number__c}, 6, 3)) &lt;=115), &quot;0035A00003mpkEAQAY&quot;,
IF(AND(VALUE(MID({!$Record.NYPD_Complaint_Number__c}, 6, 3)) &gt; 115, VALUE(MID({!$Record.NYPD_Complaint_Number__c}, 6, 3)) &lt;=123), &quot;0036e00003x5qvTAAQ&quot;, &quot;&quot;))))))</expression>
    </formulas>
    <formulas>
        <name>caseLeadEmail</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Investigator__c}, &quot;Leigh Anne Wilson&quot;), &quot;leighanne.wilson@aspca.org&quot;,
IF(ISPICKVAL({!$Record.Investigator__c}, &quot;Rachel Touroo, DVM&quot;), &quot;rachel.touroo@aspca.org&quot;,
IF(ISPICKVAL({!$Record.Investigator__c}, &quot;Alison Kennedy-Benson&quot;), &quot;alison.kennedybenson@aspca.org&quot;,
IF(ISPICKVAL({!$Record.Investigator__c}, &quot;Elizabeth Pearlman, DVM&quot;), &quot;elizabeth.pearlman@aspca.org&quot;,
IF(ISPICKVAL({!$Record.Investigator__c}, &quot;Kristina Baucom, DVM&quot;), &quot;kristina.baucom@aspca.org&quot;,
IF(ISPICKVAL({!$Record.Investigator__c}, &quot;Unassigned&quot;), &quot;nina.rosenow@aspca.org&quot;,
TRIM(LEFT(TEXT({!$Record.Investigator__c}), FIND(&quot; &quot;, TEXT({!$Record.Investigator__c})) - 1))  &amp; &quot;.&quot; &amp; TRIM(MID(TEXT({!$Record.Investigator__c}), FIND(&quot; &quot;, TEXT({!$Record.Investigator__c})), LEN(TEXT({!$Record.Investigator__c})))) &amp; &quot;@aspca.org&quot;))))))</expression>
    </formulas>
    <formulas>
        <name>reminderBody</name>
        <dataType>String</dataType>
        <expression>&quot;The Salesforce record for &quot; &amp; HYPERLINK(&quot;/&quot; &amp; {!$Record.Id}, &quot;Case #&quot; &amp; {!$Record.CaseNumber}) &amp; &quot; has not been updated in 2 weeks. If any changes are needed, please edit the record accordingly or reach out to the Legal Administrative Assistant for support.&quot;</expression>
    </formulas>
    <formulas>
        <name>reminderSubject</name>
        <dataType>String</dataType>
        <expression>&quot;National Case Reminder&quot;</expression>
    </formulas>
    <formulas>
        <name>twoWeeks</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 14</expression>
    </formulas>
    <interviewLabel>Case - Case Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Case Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Borough_Liaison</name>
        <label>Create Borough Liaison</label>
        <locationX>1174</locationX>
        <locationY>559</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>boroughLiaison</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Borough Liaison</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Contact_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Next_Reminder_Email_Date</name>
        <label>Update Next Reminder Email Date</label>
        <locationX>568</locationX>
        <locationY>615</locationY>
        <connector>
            <targetReference>Send_Update_Reminder_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Update_Reminder__c</field>
            <value>
                <elementReference>twoWeeks</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Animals</name>
        <label>Update Related Animals</label>
        <locationX>1175</locationX>
        <locationY>147</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Case_Letter_Civicore__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reminder_Email_Date</name>
        <label>Update Reminder Email Date</label>
        <locationX>1175</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>Was_Precinct_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Update_Reminder__c</field>
            <value>
                <elementReference>twoWeeks</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>442</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is_Case_Closed</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X2_Weeks_After_Update</name>
            <connector>
                <targetReference>Send_National_Case_Reminder_Email</targetReference>
            </connector>
            <label>2 Weeks After Update</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Next_Update_Reminder__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>reminderBodyRich</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The Salesforce record for &lt;a href=&quot;https://aspcafir.my.salesforce.com/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Case #{!$Record.CaseNumber}&lt;/a&gt; has not been updated in 2 weeks. If any changes are needed, please edit the record accordingly or reach out to the Legal Administrative Assistant for support.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
