force-app/main/default/flows/Charge_Information_Update_Related_Charges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>176</locationX>
        <locationY>415</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>caseLeadEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Charge_To_List</name>
        <label>Add Charge To List</label>
        <locationX>980</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>chargesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Charges</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Charges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Charge_Fields</name>
        <label>Update Charge Fields</label>
        <locationX>790</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Charges.County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.County__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Charges.Arrest_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Arrest_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Charges.Arrest_Charge_s_Filed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Arrest_Charge_s_Filed_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Charges.Arraignment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Arraignment_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Charges.Arrest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Arrest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Charges.Docket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Docket__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Charges.Indictment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Indictment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Charges.Next_Court_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Next_Court_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Charges.Part__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Part__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Charge_To_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Fields</name>
        <label>Check Fields</label>
        <locationX>502</locationX>
        <locationY>150</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fields_Were_Updated</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9) AND 10</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Arrest_Charge_s_Filed_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Arrest_Charge_s_Filed_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Arraignment_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Arraignment_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Arrest__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Arrest__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Docket__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Docket__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Indictment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Indictment__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Next_Court_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Next_Court_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Part__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Part__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.County__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.County__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Arrest_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Arrest_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Charges</targetReference>
            </connector>
            <label>Fields Were Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>1085</locationX>
        <locationY>150</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_To_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chargesToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Charges</targetReference>
            </connector>
            <label>Records To Update</label>
        </rules>
    </decisions>
    <formulas>
        <name>caseLeadEmail</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Case__r.Lead_Attorney__c}, &quot;Unassigned&quot;), &quot;erin.satterthwaite@aspca.org&quot;,
TRIM(LEFT(TEXT({!$Record.Case__r.Lead_Attorney__c}), FIND(&quot; &quot;, TEXT({!$Record.Case__r.Lead_Attorney__c})) - 1))  &amp; &quot;.&quot; &amp; TRIM(MID(TEXT({!$Record.Case__r.Lead_Attorney__c}), FIND(&quot; &quot;, TEXT({!$Record.Case__r.Lead_Attorney__c})), LEN(TEXT({!$Record.Case__r.Lead_Attorney__c})))) &amp; &quot;@aspca.org&quot;)</expression>
    </formulas>
    <formulas>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Upcoming Court Date&quot;</expression>
    </formulas>
    <interviewLabel>Charge Information - Update Related Charges {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Charge Information - Update Related Charges</label>
    <loops>
        <name>Loop_Through_Charges</name>
        <label>Loop Through Charges</label>
        <locationX>887</locationX>
        <locationY>148</locationY>
        <collectionReference>Get_Related_Charges</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Charge_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Records_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Charges</name>
        <label>Get Related Charges</label>
        <locationX>727</locationX>
        <locationY>148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Charges</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Defendant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Defendant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Charge_Information__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Charges</name>
        <label>Update Charges</label>
        <locationX>1295</locationX>
        <locationY>148</locationY>
        <inputReference>chargesToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Fields</targetReference>
        </connector>
        <object>Charge_Information__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled_Court_Date</name>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Scheduled Court Date</label>
            <offsetNumber>-3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Next_Court_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Defendent {!$Record.Defendant_Name__c}, from &lt;/span&gt;&lt;a href=&quot;https://aspcafir.lightning.force.com/{!$Record.Case__r.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Case #{!$Record.Case__r.CaseNumber}&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, is scheduled to appear in court in 3 days&apos; time on {!$Record.Next_Court_Date__c}.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>chargesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Charge_Information__c</objectType>
    </variables>
</Flow>
