force-app/main/default/flows/Create_a_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Adam_Leath</name>
        <choiceText>Adam Leath</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Adam Leath</stringValue>
        </value>
    </choices>
    <choices>
        <name>Agency_Contact</name>
        <choiceText>Agency Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>012i00000006kcN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Aggravated_Cruelty</name>
        <choiceText>Aggravated Cruelty</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aggravated Cruelty</stringValue>
        </value>
    </choices>
    <choices>
        <name>AK</name>
        <choiceText>AK</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>AK</elementReference>
        </value>
    </choices>
    <choices>
        <name>Alison_Kennedy_Benson</name>
        <choiceText>Alison Kennedy-Benson</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alison Kennedy-Benson</stringValue>
        </value>
    </choices>
    <choices>
        <name>Amanda_Fitch</name>
        <choiceText>Amanda Fitch</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Amanda Fitch</stringValue>
        </value>
    </choices>
    <choices>
        <name>Animal_Fighting</name>
        <choiceText>Animal Fighting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Animal Fighting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Animal_Owner</name>
        <choiceText>Animal Owner</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CaseContactRole</elementReference>
        </value>
    </choices>
    <choices>
        <name>Bekah_Weitz</name>
        <choiceText>Bekah Weitz</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bekah Weitz</stringValue>
        </value>
    </choices>
    <choices>
        <name>Blizzard</name>
        <choiceText>Blizzard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Blizzard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Case_Categories</name>
        <choiceText>Case Categories</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Case_Review</name>
        <choiceText>Case Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>case_sub_categories</name>
        <choiceText>case sub categories</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>case_sub_categories</elementReference>
        </value>
    </choices>
    <choices>
        <name>Cock_Fighting</name>
        <choiceText>Cock Fighting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cock Fighting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Complainant</name>
        <choiceText>Complainant</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CaseContactRole</elementReference>
        </value>
    </choices>
    <choices>
        <name>Complete</name>
        <choiceText>Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consultation</name>
        <choiceText>Consultation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consultationcasesubtype</name>
        <choiceText>Consultation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Court_Charges_Filed</name>
        <choiceText>Court Charges Filed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Court Charges Filed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cruelty</name>
        <choiceText>Cruelty</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cruelty</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deployment</name>
        <choiceText>Deployment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deployment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dick_Green</name>
        <choiceText>Dick Green</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dick Green</stringValue>
        </value>
    </choices>
    <choices>
        <name>Disaster</name>
        <choiceText>Disaster</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Dog_Fighting</name>
        <choiceText>Dog Fighting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dog Fighting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Earthquake</name>
        <choiceText>Earthquake</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Earthquake</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ehren_Melius</name>
        <choiceText>Ehren Melius</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ehren Melius</stringValue>
        </value>
    </choices>
    <choices>
        <name>Elizabeth_Pearlman</name>
        <choiceText>Elizabeth Pearlman</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Elizabeth Pearlman</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Emergency_Management</name>
        <choiceText>Emergency Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Emergency Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>Emergency_Shelter</name>
        <choiceText>Emergency Shelter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Emergency Shelter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Equine</name>
        <choiceText>Equine</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Equine</stringValue>
        </value>
    </choices>
    <choices>
        <name>Field_Rescue</name>
        <choiceText>Field Rescue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Field Rescue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fire</name>
        <choiceText>Fire</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Flooding</name>
        <choiceText>Flooding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flooding</stringValue>
        </value>
    </choices>
    <choices>
        <name>Forensic_Analysis</name>
        <choiceText>Forensic Analysis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Forensic Analysis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Forensic_Support</name>
        <choiceText>Forensic Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Forensic Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hoarding</name>
        <choiceText>Hoarding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hoarding</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hurricane</name>
        <choiceText>Hurricane</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hurricane</stringValue>
        </value>
    </choices>
    <choices>
        <name>Infectious_Disease</name>
        <choiceText>Infectious Disease</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Investigation</name>
        <choiceText>Investigation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Investigation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Investigators</name>
        <choiceText>Investigators</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Sales_Lead</elementReference>
        </value>
    </choices>
    <choices>
        <name>Jessica_Rushin</name>
        <choiceText>Jessica Rushin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jessica Rushin</stringValue>
        </value>
    </choices>
    <choices>
        <name>Joel_Lopez</name>
        <choiceText>Joel Lopez</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Joel Lopez</stringValue>
        </value>
    </choices>
    <choices>
        <name>John_Bolin</name>
        <choiceText>John Bolin</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Kathryn_Destreza</name>
        <choiceText>Kathryn Destreza</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kathryn Destreza</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kristina_Baucom</name>
        <choiceText>Kristina Baucom</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kristina Baucom</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kyle_Held</name>
        <choiceText>Kyle Held</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kyle Held</stringValue>
        </value>
    </choices>
    <choices>
        <name>Leigh_Ann_Garrard</name>
        <choiceText>Leigh Anne Garrard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leigh Anne Garrard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Neglect</name>
        <choiceText>Neglect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neglect</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Add_a_new_contact</name>
        <choiceText>No - Add a new contact</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No_create_a_new_contact_as_my_subject</name>
        <choiceText>No - create a new contact as my subject</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No_more_complainants</name>
        <choiceText>No more complainants</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No complainant</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_more_subjects</name>
        <choiceText>No more subjects</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>NotDisaster</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Officer</name>
        <choiceText>Officer</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Operations</name>
        <choiceText>Operations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Operations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Contact</name>
        <choiceText>Other Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>012i00000011G50</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherSubcategory</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pet_Store</name>
        <choiceText>Pet Store</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pet Store</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Placement</name>
        <choiceText>Placement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Placement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prosecutor</name>
        <choiceText>Prosecutor</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Public_Gathering</name>
        <choiceText>Public Gathering</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Puppy_Mill</name>
        <choiceText>Puppy Mill</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Puppy Mill</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rachel_Touroo</name>
        <choiceText>Rachel Touroo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rachel Touroo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rescue_Hoarder</name>
        <choiceText>Rescue Hoarder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rescue Hoarder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rhonda_Windham</name>
        <choiceText>Rhonda Windham</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rhonda Windham</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ritualized_Abuse</name>
        <choiceText>Ritualized Abuse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ritualized Abuse</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sandy_Christiansen</name>
        <choiceText>Sandy Christiansen&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sandy Christiansen</stringValue>
        </value>
    </choices>
    <choices>
        <name>SELECT_A_CONTACTdefault</name>
        <choiceText>SELECT A CONTACT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SELECT A CONTACT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sexual_Abuse</name>
        <choiceText>Sexual Abuse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sexual Abuse</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shelter</name>
        <choiceText>Shelter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shelter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shelter_Hoarder</name>
        <choiceText>Shelter Hoarder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shelter Hoarder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Subject</name>
        <choiceText>Subject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Subject</stringValue>
        </value>
    </choices>
    <choices>
        <name>Terry_Mills</name>
        <choiceText>Terry Mills</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Terry Mills</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tim_Rickey</name>
        <choiceText>Tim Rickey</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tim Rickey</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tornado</name>
        <choiceText>Tornado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tornado</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transport</name>
        <choiceText>Transport</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transport</stringValue>
        </value>
    </choices>
    <choices>
        <name>Volcano</name>
        <choiceText>Volcano</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Web</name>
        <choiceText>Web</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Web</stringValue>
        </value>
    </choices>
    <choices>
        <name>Witness</name>
        <choiceText>Witness</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_add_a_new_subject</name>
        <choiceText>Yes add a new subject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_add_this_contact</name>
        <choiceText>Yes - add this contact</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes_add_this_contact_as_my_subject</name>
        <choiceText>Yes - add this contact as my subject</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yesanothercomplaint</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>YesDisaster</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CaseCategory</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Add_another_complainant</name>
        <label>Add another complainant</label>
        <locationX>293</locationX>
        <locationY>1578</locationY>
        <defaultConnector>
            <targetReference>Disaster_case2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>Yes_add_complainant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yesanothercomplaint</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Name_Search</targetReference>
            </connector>
            <label>Yes add complainant</label>
        </rules>
        <rules>
            <name>No_more_complainant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Another_Complainant2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No complainant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disaster_case2</targetReference>
            </connector>
            <label>No more complainant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_another_Scene</name>
        <label>Add another Scene</label>
        <locationX>703</locationX>
        <locationY>1081</locationY>
        <defaultConnectorLabel>Default - no selection</defaultConnectorLabel>
        <rules>
            <name>Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Scene_Location</targetReference>
            </connector>
            <label>Yes Outcome</label>
        </rules>
        <rules>
            <name>No_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Name_Search</targetReference>
            </connector>
            <label>No Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_another_subjectdecision</name>
        <label>Add another subject</label>
        <locationX>316</locationX>
        <locationY>2216</locationY>
        <defaultConnectorLabel>no more subjects</defaultConnectorLabel>
        <rules>
            <name>yes_add_another</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_another_subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_name_capture_subject</targetReference>
            </connector>
            <label>yes add another</label>
        </rules>
        <rules>
            <name>no_more_subjects2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_another_subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_case_number</targetReference>
            </connector>
            <label>no more subjects</label>
        </rules>
    </decisions>
    <decisions>
        <name>Animals_must_be_reported</name>
        <label>Animals must be reported</label>
        <locationX>281</locationX>
        <locationY>261</locationY>
        <defaultConnector>
            <targetReference>Create_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>Animal_count_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Birds2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Total_Dogs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Total_Cats</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Total_Cows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Total_Equine</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Total_Exotics</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Total_Fowl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Total_Other_Animals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Total_Other_Livestock</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Animals_reported</targetReference>
            </connector>
            <label>Animal count is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Birds_reported</name>
        <label>Birds reported</label>
        <locationX>781</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>Livestock_reported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no birds</defaultConnectorLabel>
        <rules>
            <name>Yes_Birds_reported</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Birds2</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bird_Breed_Capture</targetReference>
            </connector>
            <label>Yes Birds reported</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_type_needs_more_detail</name>
        <label>Case type needs more detail</label>
        <locationX>401</locationX>
        <locationY>171</locationY>
        <defaultConnector>
            <targetReference>Capture_Animals_reported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>yesneedsmoredetail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_Type2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Aggravated_Cruelty</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_Type2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ritualized_Abuse</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Case_type_otherdetail</targetReference>
            </connector>
            <label>case type needs more detail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cats_Reported</name>
        <label>Cats Reported</label>
        <locationX>288</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>Cows_reported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no cats</defaultConnectorLabel>
        <rules>
            <name>Yes_Cats_reported</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Cats</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cat_reported_record</targetReference>
            </connector>
            <label>Yes Cats reported</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cows_reported</name>
        <label>Cows reported</label>
        <locationX>437</locationX>
        <locationY>478</locationY>
        <defaultConnector>
            <targetReference>Equine_reported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no cows</defaultConnectorLabel>
        <rules>
            <name>Yes_Cows_reported</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Cows</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cows_reported</targetReference>
            </connector>
            <label>Yes Cows reported</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_new_subject</name>
        <label>Create new subject</label>
        <locationX>290</locationX>
        <locationY>1780</locationY>
        <defaultConnector>
            <targetReference>Create_new_Subject_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no add new contact</defaultConnectorLabel>
        <rules>
            <name>yes_use_select_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_add_this_contact_as_my_subject</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_Selection</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SELECT A CONTACT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Subject_Contact</targetReference>
            </connector>
            <label>yes use selected contact</label>
        </rules>
        <rules>
            <name>None_and_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SELECT A CONTACT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Yes_add_this_contact_as_my_subject</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_Subject_record</targetReference>
            </connector>
            <label>None and yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Disaster_case2</name>
        <label>Disaster case</label>
        <locationX>727</locationX>
        <locationY>1577</locationY>
        <defaultConnector>
            <targetReference>Last_name_capture_subject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>Yes_disaster_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesDisaster</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_case_number</targetReference>
            </connector>
            <label>Yes disaster case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Disaster_Case_selected</name>
        <label>Disaster Case selected</label>
        <locationX>690</locationX>
        <locationY>249</locationY>
        <defaultConnectorLabel>Default - no answer</defaultConnectorLabel>
        <rules>
            <name>Yes_Disaster_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesDisaster</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Disaster_Case</targetReference>
            </connector>
            <label>Yes-Disaster-outcome</label>
        </rules>
        <rules>
            <name>no_not_disaster</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotDisaster</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Case_Details</targetReference>
            </connector>
            <label>no-not-disaster</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dogs_reported</name>
        <label>Dogs reported</label>
        <locationX>133</locationX>
        <locationY>472</locationY>
        <defaultConnector>
            <targetReference>Cats_Reported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no dogs</defaultConnectorLabel>
        <rules>
            <name>Yes_dogs_reported</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Dogs</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_Estimated_Animal_record</targetReference>
            </connector>
            <label>Yes dogs reported</label>
        </rules>
    </decisions>
    <decisions>
        <name>Equine_reported</name>
        <label>Equine reported</label>
        <locationX>613</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Fowl_reported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Equine</defaultConnectorLabel>
        <rules>
            <name>Yes_Equine_Reported</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Equine</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_equine_record</targetReference>
            </connector>
            <label>Yes Equine Reported</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exotics_reported</name>
        <label>Exotics reported</label>
        <locationX>1117</locationX>
        <locationY>530</locationY>
        <defaultConnector>
            <targetReference>Birds_reported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no exotics</defaultConnectorLabel>
        <rules>
            <name>Yes_Exotics</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Exotics</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exotic_breed_required</targetReference>
            </connector>
            <label>Yes Exotics</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fowl_reported</name>
        <label>Fowl reported</label>
        <locationX>822</locationX>
        <locationY>346</locationY>
        <defaultConnector>
            <targetReference>Exotics_reported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no fowl</defaultConnectorLabel>
        <rules>
            <name>Yes_Fowl</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Fowl</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fowl_Breed_Required</targetReference>
            </connector>
            <label>Yes Fowl</label>
        </rules>
    </decisions>
    <decisions>
        <name>Livestock_reported</name>
        <label>Livestock reported</label>
        <locationX>607</locationX>
        <locationY>579</locationY>
        <defaultConnector>
            <targetReference>Other_reported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no livestock</defaultConnectorLabel>
        <rules>
            <name>Yes_Livestock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Other_Livestock</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Otherlivestock_breed</targetReference>
            </connector>
            <label>Yes Livestock</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Disaster</name>
        <label>Other Disaster</label>
        <locationX>1338</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>Create_Case_Disaster</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not other disaster</defaultConnectorLabel>
        <rules>
            <name>yes_Other_disaster</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_disaster_text</targetReference>
            </connector>
            <label>yes Other disaster</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_reported</name>
        <label>Other reported</label>
        <locationX>355</locationX>
        <locationY>581</locationY>
        <defaultConnector>
            <targetReference>Capture_Primary_Scene_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no other</defaultConnectorLabel>
        <rules>
            <name>Yes_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Other_Animals</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Animal_Breed</targetReference>
            </connector>
            <label>Yes Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question_Create_New_Contact</name>
        <label>Question - Create New Contact</label>
        <locationX>226</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Another_Complainant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing selected</defaultConnectorLabel>
        <rules>
            <name>Yes_add_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_add_this_contact</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_a_contact</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SELECT A CONTACT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CaseContactRole</targetReference>
            </connector>
            <label>Yes - add this contact</label>
        </rules>
        <rules>
            <name>No_new_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_Add_a_new_contact</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Contact</targetReference>
            </connector>
            <label>No - create new contact</label>
        </rules>
        <rules>
            <name>None_and_Yes_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_a_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SELECT A CONTACT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Yes_add_this_contact</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Contact</targetReference>
            </connector>
            <label>None and Yes selected</label>
        </rules>
    </decisions>
    <description>Added &quot;Forensics Case&quot; checkbox</description>
    <dynamicChoiceSets>
        <name>Accounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contact</name>
        <dataType>String</dataType>
        <displayField>Contact_Detail_for_Flow__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>Last_Name_Lookup</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contactcomplainantsearch</name>
        <dataType>String</dataType>
        <displayField>Contact_Detail_for_Flow__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>Last_Name_Lookupnew</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactRoles</name>
        <dataType>String</dataType>
        <displayField>Role</displayField>
        <object>CaseContactRole</object>
        <outputAssignments>
            <assignToReference>CaseContactRole</assignToReference>
            <field>Role</field>
        </outputAssignments>
        <valueField>Role</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>State_dd</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>Scene_Locations__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Fixed Scene Location State Dropdown {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Bird_reported_record</name>
        <label>Create Bird reported record</label>
        <locationX>761</locationX>
        <locationY>742</locationY>
        <connector>
            <targetReference>Livestock_reported</targetReference>
        </connector>
        <inputAssignments>
            <field>Breed_Type__c</field>
            <value>
                <elementReference>Bird_Breedrequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_Quantity__c</field>
            <value>
                <elementReference>Total_Birds2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Species__c</field>
            <value>
                <stringValue>Birds</stringValue>
            </value>
        </inputAssignments>
        <object>Estimated_Animals_Reported__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>137</locationX>
        <locationY>332</locationY>
        <assignRecordIdToReference>CaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Dogs_reported</targetReference>
        </connector>
        <inputAssignments>
            <field>Alleged_Incident__c</field>
            <value>
                <elementReference>Alleged_Incident2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CASE_STATUS_SUBTYPE__c</field>
            <value>
                <elementReference>Case_Status_Subtype2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <elementReference>Case_Type2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type_Other__c</field>
            <value>
                <elementReference>Please_provide_more_detail_on_the_case_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>Case_Subcategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Case_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forensics_Case__c</field>
            <value>
                <elementReference>Forensics_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investigator__c</field>
            <value>
                <elementReference>Sales_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Origin2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>CaseStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Disaster</name>
        <label>Create Case - Disaster</label>
        <locationX>1252</locationX>
        <locationY>797</locationY>
        <assignRecordIdToReference>CaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Capture_Primary_Scene_Location</targetReference>
        </connector>
        <inputAssignments>
            <field>Alleged_Incident__c</field>
            <value>
                <elementReference>Alleged_Incident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CASE_STATUS_SUBTYPE__c</field>
            <value>
                <elementReference>Case_Status_Subtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <elementReference>Case_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type_Other__c</field>
            <value>
                <elementReference>Other_diaster_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>Case_Sub_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Disaster</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Summary3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investigator__c</field>
            <value>
                <elementReference>Case_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>CaseStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_CaseContactRole</name>
        <label>Create CaseContactRole</label>
        <locationX>138</locationX>
        <locationY>1353</locationY>
        <connector>
            <targetReference>Another_Complainant</targetReference>
        </connector>
        <inputAssignments>
            <field>CasesId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Complainant</stringValue>
            </value>
        </inputAssignments>
        <object>CaseContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Cat_reported_record</name>
        <label>Create Cat reported record</label>
        <locationX>394</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>Cows_reported</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_Quantity__c</field>
            <value>
                <elementReference>Total_Cats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Species__c</field>
            <value>
                <stringValue>Cat</stringValue>
            </value>
        </inputAssignments>
        <object>Estimated_Animals_Reported__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contactrole_realtionship_for_new_contact</name>
        <label>Create Contactrole relationship for new contact</label>
        <locationX>456</locationX>
        <locationY>1482</locationY>
        <connector>
            <targetReference>Another_Complainant</targetReference>
        </connector>
        <inputAssignments>
            <field>CasesId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>NewContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Complainant</stringValue>
            </value>
        </inputAssignments>
        <object>CaseContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>Create_contactrole_subject</name>
        <label>Create contactrole subject</label>
        <locationX>609</locationX>
        <locationY>2011</locationY>
        <connector>
            <targetReference>Another_Subject</targetReference>
        </connector>
        <inputAssignments>
            <field>CasesId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Subject</stringValue>
            </value>
        </inputAssignments>
        <object>CaseContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Cows_reported</name>
        <label>Create Cows reported</label>
        <locationX>535</locationX>
        <locationY>337</locationY>
        <connector>
            <targetReference>Equine_reported</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_Quantity__c</field>
            <value>
                <elementReference>Total_Cows</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Species__c</field>
            <value>
                <stringValue>Cows</stringValue>
            </value>
        </inputAssignments>
        <object>Estimated_Animals_Reported__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_equine_record</name>
        <label>Create equine reported</label>
        <locationX>669</locationX>
        <locationY>338</locationY>
        <connector>
            <targetReference>Fowl_reported</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_Quantity__c</field>
            <value>
                <elementReference>Total_Equine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Species__c</field>
            <value>
                <stringValue>Equine</stringValue>
            </value>
        </inputAssignments>
        <object>Estimated_Animals_Reported__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Exotics</name>
        <label>Create Exotics</label>
        <locationX>970</locationX>
        <locationY>725</locationY>
        <connector>
            <targetReference>Birds_reported</targetReference>
        </connector>
        <inputAssignments>
            <field>Breed_Type__c</field>
            <value>
                <elementReference>Exotic_Breed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_Quantity__c</field>
            <value>
                <elementReference>Total_Exotics</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Species__c</field>
            <value>
                <stringValue>Exotics</stringValue>
            </value>
        </inputAssignments>
        <object>Estimated_Animals_Reported__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Livestock_reported</name>
        <label>Create Livestock reported</label>
        <locationX>468</locationX>
        <locationY>760</locationY>
        <connector>
            <targetReference>Other_reported</targetReference>
        </connector>
        <inputAssignments>
            <field>Breed_Type__c</field>
            <value>
                <elementReference>Other_livestock_Breed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_Quantity__c</field>
            <value>
                <elementReference>Total_Other_Livestock</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Species__c</field>
            <value>
                <stringValue>Other Livestock</stringValue>
            </value>
        </inputAssignments>
        <object>Estimated_Animals_Reported__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Contactrecord</name>
        <label>Create New Contact</label>
        <locationX>571</locationX>
        <locationY>1384</locationY>
        <assignRecordIdToReference>NewContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contactrole_realtionship_for_new_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>County__c</field>
            <value>
                <elementReference>Countynewcontact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Mailing_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Mailing_Zip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>Mailing_State_Con</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Mailing_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId__NotFound</field>
            <value>
                <elementReference>Contact_Typecomplainant</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_new_Estimated_Animal_record</name>
        <label>Create new Estimated Animal record - Dogs</label>
        <locationX>263</locationX>
        <locationY>337</locationY>
        <assignRecordIdToReference>Animalreportedid</assignRecordIdToReference>
        <connector>
            <targetReference>Cats_Reported</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_Quantity__c</field>
            <value>
                <elementReference>Total_Dogs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Species__c</field>
            <value>
                <stringValue>Dog</stringValue>
            </value>
        </inputAssignments>
        <object>Estimated_Animals_Reported__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_new_location_non_primary</name>
        <label>Create new location - non primary</label>
        <locationX>659</locationX>
        <locationY>955</locationY>
        <connector>
            <targetReference>Add_another_Scene_Location</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_1__c</field>
            <value>
                <elementReference>Address_1location2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>CityLocation2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>County__c</field>
            <value>
                <elementReference>Countylocation2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Descriptionlocation2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Location_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>State_dd_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zipcode__c</field>
            <value>
                <elementReference>Zipcodelocation2</elementReference>
            </value>
        </inputAssignments>
        <object>Scene_Locations__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Other_reported</name>
        <label>Create Other reported</label>
        <locationX>151</locationX>
        <locationY>763</locationY>
        <connector>
            <targetReference>Capture_Primary_Scene_Location</targetReference>
        </connector>
        <inputAssignments>
            <field>Breed_Type__c</field>
            <value>
                <elementReference>Other_AnimalBreed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_Quantity__c</field>
            <value>
                <elementReference>Total_Other_Animals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Species__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>Estimated_Animals_Reported__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Scene_Location</name>
        <label>Create Scene Location</label>
        <locationX>362</locationX>
        <locationY>933</locationY>
        <assignRecordIdToReference>SceneLocationID</assignRecordIdToReference>
        <connector>
            <targetReference>Add_another_Scene_Location</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_1__c</field>
            <value>
                <elementReference>Address_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>County__c</field>
            <value>
                <elementReference>County</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Scene_Location_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Incident_Location__c</field>
            <value>
                <elementReference>Primary_Incident_location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>State_dd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zipcode__c</field>
            <value>
                <elementReference>Zipcode</elementReference>
            </value>
        </inputAssignments>
        <object>Scene_Locations__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Subject_Contact</name>
        <label>Create Subject Contact</label>
        <locationX>186</locationX>
        <locationY>1897</locationY>
        <connector>
            <targetReference>Another_Subject</targetReference>
        </connector>
        <inputAssignments>
            <field>CasesId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Subject</stringValue>
            </value>
        </inputAssignments>
        <object>CaseContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Subject_Contact2</name>
        <label>Create Subject Contact</label>
        <locationX>715</locationX>
        <locationY>1908</locationY>
        <assignRecordIdToReference>ContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_contactrole_subject</targetReference>
        </connector>
        <inputAssignments>
            <field>County__c</field>
            <value>
                <elementReference>Countysubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Namesubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_NameSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Mailing_CitySubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Mailing_ZipSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>Mailing_State_Subj</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Mailing_streetsubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId__NotFound</field>
            <value>
                <elementReference>Contact_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>CreatFowl_reported</name>
        <label>Create Fowl reported</label>
        <locationX>1169</locationX>
        <locationY>416</locationY>
        <connector>
            <targetReference>Exotics_reported</targetReference>
        </connector>
        <inputAssignments>
            <field>Breed_Type__c</field>
            <value>
                <elementReference>Fowl_Breed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_Quantity__c</field>
            <value>
                <elementReference>Total_Fowl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Species__c</field>
            <value>
                <stringValue>Fowl</stringValue>
            </value>
        </inputAssignments>
        <object>Estimated_Animals_Reported__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_case_number</name>
        <label>Lookup case number</label>
        <locationX>843</locationX>
        <locationY>2123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Add_a_contact</name>
        <label>Add an existing contact</label>
        <locationX>286</locationX>
        <locationY>1122</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question_Create_New_Contact</targetReference>
        </connector>
        <fields>
            <name>Headinghelptext</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please provide details of the complainant for the case.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;1. Select from the contact list if the complainant is in the system and select Yes-add this contact.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2. If you want to conduct another name search click Previous to go back.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;3. Otherwise check No to add a new contact record.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_a_contact</name>
            <choiceReferences>Contactcomplainantsearch</choiceReferences>
            <choiceReferences>SELECT_A_CONTACTdefault</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Role</name>
            <choiceReferences>Complainant</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Complainant</defaultSelectedChoiceReference>
            <fieldText>Contact Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_you_want_to_create_a_new_contact</name>
            <choiceReferences>Yes_add_this_contact</choiceReferences>
            <choiceReferences>No_Add_a_new_contact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to add this contact or create a new contact?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_another_Scene_Location</name>
        <label>Add another Scene Location</label>
        <locationX>437</locationX>
        <locationY>1029</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_another_Scene</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_add_another_scene_location</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Would you like to add another scene location?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Another_Complainant</name>
        <label>Another Complainant</label>
        <locationX>216</locationX>
        <locationY>1458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_another_complainant</targetReference>
        </connector>
        <fields>
            <name>Another_Complainant2</name>
            <choiceReferences>Yesanothercomplaint</choiceReferences>
            <choiceReferences>No_more_complainants</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Would you like to add another complainant?&lt;FONT STYLE=&quot;font-size:24px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Another_Subject</name>
        <label>Another Subject</label>
        <locationX>486</locationX>
        <locationY>2096</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_another_subjectdecision</targetReference>
        </connector>
        <fields>
            <name>Add_another_subject</name>
            <choiceReferences>Yes_add_a_new_subject</choiceReferences>
            <choiceReferences>No_more_subjects</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Do you want to add another subject?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bird_Breed_Capture</name>
        <label>Bird Breed Capture</label>
        <locationX>771</locationX>
        <locationY>631</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Bird_reported_record</targetReference>
        </connector>
        <fields>
            <name>Birdbreedheader</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please provide details of the breed of birds.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Bird_Breedrequired</name>
            <dataType>String</dataType>
            <fieldText>Bird Breed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Capture_Animals_reported</name>
        <label>Capture Animals reported</label>
        <locationX>145</locationX>
        <locationY>247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Animals_must_be_reported</targetReference>
        </connector>
        <fields>
            <name>reportedanimalheader</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please enter the reported animal values below.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You cannot leave all fields blank.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Total_Birds2</name>
            <dataType>Number</dataType>
            <fieldText>Total Birds</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>{!Total_Birds2}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Total_Cats</name>
            <dataType>Number</dataType>
            <fieldText>Total Cats</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Dogs</name>
            <dataType>Number</dataType>
            <fieldText>Total Dogs</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Fowl</name>
            <dataType>Number</dataType>
            <fieldText>Total Fowl</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Cows</name>
            <dataType>Number</dataType>
            <fieldText>Total Cows</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Exotics</name>
            <dataType>Number</dataType>
            <fieldText>Total Exotics</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Other_Livestock</name>
            <dataType>Number</dataType>
            <fieldText>Total Other Livestock</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Equine</name>
            <dataType>Number</dataType>
            <fieldText>Total Equine</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Other_Animals</name>
            <dataType>Number</dataType>
            <fieldText>Total Other Animals</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Capture_Case_Details</name>
        <label>Capture Case Details</label>
        <locationX>545</locationX>
        <locationY>165</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_type_needs_more_detail</targetReference>
        </connector>
        <fields>
            <name>HeaderMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please enter your new case details below. &lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sales_Lead</name>
            <choiceReferences>Jessica_Rushin</choiceReferences>
            <choiceReferences>Kyle_Held</choiceReferences>
            <choiceReferences>Terry_Mills</choiceReferences>
            <choiceReferences>Tim_Rickey</choiceReferences>
            <choiceReferences>Leigh_Ann_Garrard</choiceReferences>
            <choiceReferences>Sandy_Christiansen</choiceReferences>
            <choiceReferences>Rachel_Touroo</choiceReferences>
            <choiceReferences>Alison_Kennedy_Benson</choiceReferences>
            <choiceReferences>Amanda_Fitch</choiceReferences>
            <choiceReferences>Elizabeth_Pearlman</choiceReferences>
            <choiceReferences>Kristina_Baucom</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Lead</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Type2</name>
            <choiceReferences>Aggravated_Cruelty</choiceReferences>
            <choiceReferences>Cock_Fighting</choiceReferences>
            <choiceReferences>Dog_Fighting</choiceReferences>
            <choiceReferences>Equine</choiceReferences>
            <choiceReferences>Forensic_Support</choiceReferences>
            <choiceReferences>Hoarding</choiceReferences>
            <choiceReferences>Neglect</choiceReferences>
            <choiceReferences>Pet_Store</choiceReferences>
            <choiceReferences>Puppy_Mill</choiceReferences>
            <choiceReferences>Rescue_Hoarder</choiceReferences>
            <choiceReferences>Ritualized_Abuse</choiceReferences>
            <choiceReferences>Sexual_Abuse</choiceReferences>
            <choiceReferences>Shelter_Hoarder</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Status_Subtype2</name>
            <choiceReferences>Case_Review</choiceReferences>
            <choiceReferences>Complete</choiceReferences>
            <choiceReferences>Consultation</choiceReferences>
            <choiceReferences>Court_Charges_Filed</choiceReferences>
            <choiceReferences>Deployment</choiceReferences>
            <choiceReferences>Forensic_Analysis</choiceReferences>
            <choiceReferences>Investigation</choiceReferences>
            <choiceReferences>Placement</choiceReferences>
            <choiceReferences>Transport</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Status Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Category</name>
            <choiceReferences>Consultation</choiceReferences>
            <choiceReferences>Investigation</choiceReferences>
            <choiceReferences>Operations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Subcategory</name>
            <choiceReferences>Animal_Fighting</choiceReferences>
            <choiceReferences>Cruelty</choiceReferences>
            <choiceReferences>Neglect</choiceReferences>
            <choiceReferences>Placement</choiceReferences>
            <choiceReferences>Shelter</choiceReferences>
            <choiceReferences>Transport</choiceReferences>
            <choiceReferences>OtherSubcategory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Subcategory</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Summary</name>
            <fieldText>Case Summary</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Origin2</name>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>Phone</choiceReferences>
            <choiceReferences>Web</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Alleged_Incident2</name>
            <dataType>Date</dataType>
            <fieldText>Alleged Incident</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Forensics_Case</name>
            <dataType>Boolean</dataType>
            <fieldText>Forensics Case</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Capture_Case_type_otherdetail</name>
        <label>Capture Case type otherdetail</label>
        <locationX>444</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Capture_Animals_reported</targetReference>
        </connector>
        <fields>
            <name>Please_provide_more_detail_on_the_case_type</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please provide more detail on the case type&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Capture_Disaster_Case</name>
        <label>Capture Disaster Case</label>
        <locationX>1342</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_Disaster</targetReference>
        </connector>
        <fields>
            <name>EnterCaseDetails</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please enter your Disaster Case details below:&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Lead</name>
            <choiceReferences>Adam_Leath</choiceReferences>
            <choiceReferences>Dick_Green</choiceReferences>
            <choiceReferences>Ehren_Melius</choiceReferences>
            <choiceReferences>Jessica_Rushin</choiceReferences>
            <choiceReferences>Joel_Lopez</choiceReferences>
            <choiceReferences>Kathryn_Destreza</choiceReferences>
            <choiceReferences>Kyle_Held</choiceReferences>
            <choiceReferences>Terry_Mills</choiceReferences>
            <choiceReferences>Tim_Rickey</choiceReferences>
            <choiceReferences>Leigh_Ann_Garrard</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Lead</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Type</name>
            <choiceReferences>Blizzard</choiceReferences>
            <choiceReferences>Earthquake</choiceReferences>
            <choiceReferences>Fire</choiceReferences>
            <choiceReferences>Flooding</choiceReferences>
            <choiceReferences>Hurricane</choiceReferences>
            <choiceReferences>Infectious_Disease</choiceReferences>
            <choiceReferences>Public_Gathering</choiceReferences>
            <choiceReferences>Tornado</choiceReferences>
            <choiceReferences>Volcano</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Disaster Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Sub_Category</name>
            <choiceReferences>Emergency_Management</choiceReferences>
            <choiceReferences>Emergency_Shelter</choiceReferences>
            <choiceReferences>Field_Rescue</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Sub-Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Status_Subtype</name>
            <choiceReferences>Case_Review</choiceReferences>
            <choiceReferences>Complete</choiceReferences>
            <choiceReferences>Consultation</choiceReferences>
            <choiceReferences>Court_Charges_Filed</choiceReferences>
            <choiceReferences>Deployment</choiceReferences>
            <choiceReferences>Forensic_Analysis</choiceReferences>
            <choiceReferences>Investigation</choiceReferences>
            <choiceReferences>Placement</choiceReferences>
            <choiceReferences>Transport</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Status Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Origin</name>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>Phone</choiceReferences>
            <choiceReferences>Web</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Summary3</name>
            <fieldText>Case Summary</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Alleged_Incident</name>
            <dataType>Date</dataType>
            <fieldText>Alleged Incident</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Capture_Primary_Scene_Location</name>
        <label>Capture Primary Scene Location</label>
        <locationX>301</locationX>
        <locationY>842</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Scene_Location</targetReference>
        </connector>
        <fields>
            <name>Instruction</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:26px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please enter details of the Primary scene location for this case.  &lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scene_Location_Name</name>
            <dataType>String</dataType>
            <fieldText>Scene Location Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Address_1</name>
            <dataType>String</dataType>
            <fieldText>Address 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_dd2</name>
            <choiceReferences>State_dd</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Zipcode</name>
            <dataType>String</dataType>
            <fieldText>Zipcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>County</name>
            <dataType>String</dataType>
            <fieldText>County</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Primary_Incident_location</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Primary Incident location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>651</locationX>
        <locationY>1251</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Contactrecord</targetReference>
        </connector>
        <fields>
            <name>NewcontactMessageheader</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please enter details below of the new complainant contact to be added to this case.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mailing_Street</name>
            <dataType>String</dataType>
            <fieldText>Mailing Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailing_City</name>
            <dataType>String</dataType>
            <fieldText>Mailing City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mailing_State_Con</name>
            <choiceReferences>State_dd</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mailing State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mailing_Zip</name>
            <dataType>String</dataType>
            <fieldText>Mailing Zip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Countynewcontact</name>
            <dataType>String</dataType>
            <fieldText>County</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Role_for_this_contact_on_this_case</name>
            <choiceReferences>Complainant</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Complainant</defaultSelectedChoiceReference>
            <fieldText>Role for this contact on this case</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Typecomplainant</name>
            <choiceReferences>Agency_Contact</choiceReferences>
            <choiceReferences>Other_Contact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_new_Subject_record</name>
        <label>Create new Subject record</label>
        <locationX>619</locationX>
        <locationY>1824</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Subject_Contact2</targetReference>
        </connector>
        <fields>
            <name>First_Namesubject</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_NameSubject</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mailing_streetsubject</name>
            <dataType>String</dataType>
            <fieldText>Mailing Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailing_CitySubject</name>
            <dataType>String</dataType>
            <fieldText>Mailing City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mailing_State_Subj</name>
            <choiceReferences>State_dd</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mailing State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mailing_ZipSubject</name>
            <dataType>String</dataType>
            <fieldText>Mailing Zip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Countysubject</name>
            <dataType>String</dataType>
            <fieldText>County</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Role</name>
            <choiceReferences>Subject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Type</name>
            <choiceReferences>Agency_Contact</choiceReferences>
            <choiceReferences>Other_Contact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Disaster_Case</name>
        <label>Disaster Case</label>
        <locationX>804</locationX>
        <locationY>165</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Disaster_Case_selected</targetReference>
        </connector>
        <fields>
            <name>Is_this_case_category_a_disaster</name>
            <choiceReferences>YesDisaster</choiceReferences>
            <choiceReferences>NotDisaster</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Is this case category a disaster?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>1052</locationX>
        <locationY>2175</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Endscreen</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thank-you for completing the entry of your case.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your case number is &lt;FONT KERNING=&quot;1&quot;&gt;{!CaseNumber} &lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Exotic_breed_required</name>
        <label>Exotic breed required</label>
        <locationX>1110</locationX>
        <locationY>647</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Exotics</targetReference>
        </connector>
        <fields>
            <name>helpexotic</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please provide detail of the breed of the exotic animals.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Exotic_Breed</name>
            <dataType>String</dataType>
            <fieldText>Exotic Breed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fowl_Breed_Required</name>
        <label>Fowl Breed Required</label>
        <locationX>1004</locationX>
        <locationY>352</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreatFowl_reported</targetReference>
        </connector>
        <fields>
            <name>Fowltext</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please provide details on the breed of Fowl.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fowl_Breed</name>
            <dataType>String</dataType>
            <fieldText>Fowl Breed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Last_name_capture_subject</name>
        <label>Last name capture - subject</label>
        <locationX>571</locationX>
        <locationY>1634</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Subject_capture</targetReference>
        </connector>
        <fields>
            <name>headersubjectlastname</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please enter the last name of the &lt;FONT COLOR=&quot;#330099&quot;&gt;subject&lt;/FONT&gt; to search the system for existing contacts.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Last_Name_Lookup</name>
            <dataType>String</dataType>
            <fieldText>Last Name Lookup</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Last_Name_Search</name>
        <label>Last Name Search</label>
        <locationX>476</locationX>
        <locationY>1125</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_a_contact</targetReference>
        </connector>
        <fields>
            <name>searchcontactheader</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Add the complainant to the case.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Search the system first to see if the contact already exists.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Last_Name_Lookupnew</name>
            <dataType>String</dataType>
            <fieldText>Last Name Lookup</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Animal_Breed</name>
        <label>Other Animal Breed</label>
        <locationX>168</locationX>
        <locationY>658</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Other_reported</targetReference>
        </connector>
        <fields>
            <name>OtherBreedrequired</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please provide detail below of the breed of the other animals.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other_AnimalBreed</name>
            <dataType>String</dataType>
            <fieldText>Other Animal Breed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_disaster_text</name>
        <label>Other disaster text</label>
        <locationX>1411</locationX>
        <locationY>646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_Disaster</targetReference>
        </connector>
        <fields>
            <name>Textforotherdisaster</name>
            <fieldText>Please provide more details of the other type of disaster.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other_diaster_type</name>
            <dataType>String</dataType>
            <fieldText>Other diaster type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Scene_Location</name>
        <label>Other Scene Location</label>
        <locationX>869</locationX>
        <locationY>933</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_new_location_non_primary</targetReference>
        </connector>
        <fields>
            <name>Scenelocationheader</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please enter details of the new scene location.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_Name</name>
            <dataType>String</dataType>
            <fieldText>Location Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Address_1location2</name>
            <dataType>String</dataType>
            <fieldText>Address 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CityLocation2</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_dd_2</name>
            <choiceReferences>State_dd</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Zipcodelocation2</name>
            <dataType>String</dataType>
            <fieldText>Zipcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Countylocation2</name>
            <dataType>String</dataType>
            <fieldText>County</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Descriptionlocation2</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Otherlivestock_breed</name>
        <label>Otherlivestock breed</label>
        <locationX>537</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Livestock_reported</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>Please provide details on the Other Livestock Breed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other_livestock_Breed</name>
            <dataType>String</dataType>
            <fieldText>Other livestock Breed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Subject_capture</name>
        <label>Subject capture</label>
        <locationX>411</locationX>
        <locationY>1671</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_new_subject</targetReference>
        </connector>
        <fields>
            <name>Suspectcapturehelp</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please provide details of the &lt;FONT COLOR=&quot;#330099&quot;&gt;subject&lt;/FONT&gt; for the case.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If the subject is in the system please select from the drop down, else check No to add a new contact record.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Selection</name>
            <choiceReferences>Contact</choiceReferences>
            <choiceReferences>SELECT_A_CONTACTdefault</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Role2</name>
            <choiceReferences>Subject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DO_you_want_to_add_this_contact_or_create_a_new_contact</name>
            <choiceReferences>Yes_add_this_contact_as_my_subject</choiceReferences>
            <choiceReferences>No_create_a_new_contact_as_my_subject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to add this contact or create a new contact?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Disaster_Case</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllegedIncident</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Animalreportedid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AnotherComplainantResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseContactRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Dogsrescued</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmptyField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NewContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SceneLocationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
