force-app/main/default/flows/Cruelty_Report_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>noAdditionalComplainants</name>
        <choiceText>No more complainants</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>noAdditionalSubjects</name>
        <choiceText>No more subjects</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>noCreateComplainant</name>
        <choiceText>No - create new contact</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>noCreateSubject</name>
        <choiceText>No - create new contact</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NONE_SELECTED_Default</name>
        <choiceText>NONE SELECTED</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>noSubjectKnown</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SELECT_A_CONTACT_Default</name>
        <choiceText>SELECT A CONTACT (if found)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SELECT_SPECIES_Default</name>
        <choiceText>SELECT SPECIES</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>yesAddComplainant</name>
        <choiceText>Yes - add this contact</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>yesAdditionalComplainant</name>
        <choiceText>Yes - add another complainant</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>yesAdditionalSubject</name>
        <choiceText>Yes - add another subject</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>yesAddSubject</name>
        <choiceText>Yes - add this contact</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>yesSubjectKnown</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Create_Another_Complainant</name>
        <label>Create Another Complainant?</label>
        <locationX>914</locationX>
        <locationY>1363</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_add_additional_complainant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>yesAdditionalComplainant</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complainant_Search</targetReference>
            </connector>
            <label>Yes - add additional complainant</label>
        </rules>
        <rules>
            <name>No_more_complainants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noAdditionalComplainants</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Subject_Known</targetReference>
            </connector>
            <label>No more complainants</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Another_Subject</name>
        <label>Create Another Subject?</label>
        <locationX>1015</locationX>
        <locationY>2857</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_add_additional_subject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>yesAdditionalSubject</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subject_Search</targetReference>
            </connector>
            <label>Yes - add additional subject</label>
        </rules>
        <rules>
            <name>No_more_subjects</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noAdditionalSubjects</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Cruelty_Report</targetReference>
            </connector>
            <label>No more subjects</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Agency_Complainant</name>
        <label>Create New Agency - Complainant</label>
        <locationX>283</locationX>
        <locationY>847</locationY>
        <defaultConnector>
            <targetReference>Create_Complainant_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complainant_Create_new_agency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agency_Not_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complainant_Agency_Creation_Screen</targetReference>
            </connector>
            <label>Complainant - Create new agency</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Agency_Subject</name>
        <label>Create New Agency - Subject</label>
        <locationX>457</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Create_Subject_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Subject_Create_new_agency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Subject_Agency_Not_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subject_Agency_Creation_Screen</targetReference>
            </connector>
            <label>Subject - Create new agency</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Complainant</name>
        <label>Create New Complainant</label>
        <locationX>666</locationX>
        <locationY>705</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_Complainant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>yesAddComplainant</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Complainant_Role_Existing</targetReference>
            </connector>
            <label>Yes - Add Complainant</label>
        </rules>
        <rules>
            <name>No_Create_New_Complainant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noCreateComplainant</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createComplainant</targetReference>
            </connector>
            <label>No - Create New Complainant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Subject</name>
        <label>Create New Subject</label>
        <locationX>802</locationX>
        <locationY>2179</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_Subject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>yesAddSubject</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Subject_Role_0</targetReference>
            </connector>
            <label>Yes - Add Subject</label>
        </rules>
        <rules>
            <name>No_Create_New_Subject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noCreateSubject</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createSubject</targetReference>
            </connector>
            <label>No - Create New Subject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subject_Known</name>
        <label>Subject Known</label>
        <locationX>800</locationX>
        <locationY>1734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_subject_known</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>yesSubjectKnown</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subject_Search</targetReference>
            </connector>
            <label>Yes - subject known</label>
        </rules>
        <rules>
            <name>No_subject_not_known</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noSubjectKnown</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Cruelty_Report</targetReference>
            </connector>
            <label>No - subject not known</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>categoryChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Action_Item__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>complainantList</name>
        <dataType>String</dataType>
        <displayField>Contact_Detail_for_Flow__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Complainant_Last_Name_Lookup</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Complaint_Origin_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Case_Origin__c</picklistField>
        <picklistObject>Action_Item__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LAI_Assigned_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LAI_Assigned__c</picklistField>
        <picklistObject>Action_Item__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Request_Type_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Type__c</picklistField>
        <picklistObject>Action_Item__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Species_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Species__c</picklistField>
        <picklistObject>Action_Item__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>subjectList</name>
        <dataType>String</dataType>
        <displayField>Contact_Detail_for_Flow__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Subject_Last_Name_Lookup</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <interviewLabel>Cruelty Report Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cruelty Report Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Complainant_Agency_Record</name>
        <label>Create Complainant Agency Record</label>
        <locationX>396</locationX>
        <locationY>1186</locationY>
        <assignRecordIdToReference>agencyId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Complainant_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Agency_Address.locality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Agency_Address.postal_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Agency_Address.administrative_area_level_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Agency_Address.fullStreetAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>County__c</field>
            <value>
                <elementReference>Agency_Address.administrative_area_level_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Agency_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Primary_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Phone__c</field>
            <value>
                <elementReference>Secondary_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>Website.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Complainant_Agency_Record_0</name>
        <label>Create Complainant Agency Record</label>
        <locationX>497</locationX>
        <locationY>2591</locationY>
        <assignRecordIdToReference>agencyId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Subject_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Agency_Address_0.locality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Agency_Address_0.postal_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Agency_Address_0.administrative_area_level_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Agency_Address_0.fullStreetAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>County__c</field>
            <value>
                <elementReference>Agency_Address_0.administrative_area_level_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Agency_Name_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Primary_Phone_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Phone__c</field>
            <value>
                <elementReference>Secondary_Phone_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>Website_0.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Complainant_Contact</name>
        <label>Create Complainant Contact</label>
        <locationX>510</locationX>
        <locationY>1006</locationY>
        <assignRecordIdToReference>contactId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Complainant_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>agencyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Complainant_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Complainant_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Complainant_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Complainant_Address.locality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Complainant_Address.postal_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>Complainant_Address.administrative_area_level_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Complainant_Address.fullStreetAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Complainant_Primary_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Complainant_Role</name>
        <label>Create Complainant Role</label>
        <locationX>551</locationX>
        <locationY>1178</locationY>
        <connector>
            <targetReference>Create_Additional_Complainant</targetReference>
        </connector>
        <inputAssignments>
            <field>Action_Item__c</field>
            <value>
                <elementReference>reportID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complainant_wishes_to_remain_anonymous__c</field>
            <value>
                <elementReference>Complainant_wishes_to_remain_anonymous</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role_Notes__c</field>
            <value>
                <elementReference>Complainant_Role_Notes_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Complainant</stringValue>
            </value>
        </inputAssignments>
        <object>Action_Item_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Complainant_Role_Existing</name>
        <label>Create Complainant Role</label>
        <locationX>705</locationX>
        <locationY>1193</locationY>
        <connector>
            <targetReference>Create_Additional_Complainant</targetReference>
        </connector>
        <inputAssignments>
            <field>Action_Item__c</field>
            <value>
                <elementReference>reportID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complainant_wishes_to_remain_anonymous__c</field>
            <value>
                <elementReference>Complainant_wishes_to_remain_anonymous</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role_Notes__c</field>
            <value>
                <elementReference>Complainant_Role_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Complainant</stringValue>
            </value>
        </inputAssignments>
        <object>Action_Item_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Cruelty_Report</name>
        <label>Create Cruelty Report</label>
        <locationX>616</locationX>
        <locationY>326</locationY>
        <assignRecordIdToReference>reportID</assignRecordIdToReference>
        <connector>
            <targetReference>Complainant_Search</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Origin__c</field>
            <value>
                <elementReference>Complaint_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <elementReference>Case_Type_and_Subtype.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type_Other__c</field>
            <value>
                <elementReference>Case_Type_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>Case_Type_and_Subtype.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Summary__c</field>
            <value>
                <elementReference>Cruelty_Report_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Received__c</field>
            <value>
                <elementReference>Date_Received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Incident__c</field>
            <value>
                <elementReference>Date_of_Incident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAI_Assigned__c</field>
            <value>
                <elementReference>LAI_Assigned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Not_a_Cruelty_Case__c</field>
            <value>
                <elementReference>Not_a_Cruelty_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Species_Quantity__c</field>
            <value>
                <elementReference>Other_Species_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Species__c</field>
            <value>
                <elementReference>Other_Species</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Species_Quantity__c</field>
            <value>
                <elementReference>Primary_Species_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Species__c</field>
            <value>
                <elementReference>Primary_Species</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Description__c</field>
            <value>
                <elementReference>Referral_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_From_Training_Outreach__c</field>
            <value>
                <elementReference>Referral_From_Training_Outreach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Species_Quantity__c</field>
            <value>
                <elementReference>Secondary_Species_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Species__c</field>
            <value>
                <elementReference>Secondary_Species</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Action_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Subject_Contact</name>
        <label>Create Subject Contact</label>
        <locationX>703</locationX>
        <locationY>2500</locationY>
        <assignRecordIdToReference>contactId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Subject_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>agencyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Subject_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Subject_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Subject_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Subject_Address.locality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Subject_Address.postal_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>Subject_Address.administrative_area_level_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Subject_Address.fullStreetAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Subject_Primary_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Subject_Role</name>
        <label>Create Subject Role</label>
        <locationX>791</locationX>
        <locationY>2674</locationY>
        <connector>
            <targetReference>Create_Additional_Subject</targetReference>
        </connector>
        <inputAssignments>
            <field>Action_Item__c</field>
            <value>
                <elementReference>reportID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role_Notes__c</field>
            <value>
                <elementReference>Subject_Role_Notes_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Subject</stringValue>
            </value>
        </inputAssignments>
        <object>Action_Item_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Subject_Role_0</name>
        <label>Create Subject Role</label>
        <locationX>918</locationX>
        <locationY>2669</locationY>
        <connector>
            <targetReference>Create_Additional_Subject</targetReference>
        </connector>
        <inputAssignments>
            <field>Action_Item__c</field>
            <value>
                <elementReference>reportID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role_Notes__c</field>
            <value>
                <elementReference>Subject_Role_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Subject</stringValue>
            </value>
        </inputAssignments>
        <object>Action_Item_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Cruelty_Report</name>
        <label>Get New Cruelty Report</label>
        <locationX>1166</locationX>
        <locationY>1941</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>reportID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Action_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Complainant</name>
        <label>Add Complainant</label>
        <locationX>510</locationX>
        <locationY>562</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Complainant</targetReference>
        </connector>
        <fields>
            <name>complainantSelectionHeader</name>
            <fieldText>&lt;p&gt;Please provide details of the complainant.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Select the complainant from the contact list if found and select &quot;Yes - add this contact&quot;.&lt;/li&gt;&lt;li&gt;To conduct another name search, click &quot;Previous&quot; to go back.&lt;/li&gt;&lt;li&gt;Select &quot;No - add new contact&quot; to create a new contact record.&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Complainant</name>
            <choiceReferences>complainantList</choiceReferences>
            <choiceReferences>SELECT_A_CONTACT_Default</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Complainant</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Add_or_Create_Complainant</name>
            <choiceReferences>yesAddComplainant</choiceReferences>
            <choiceReferences>noCreateComplainant</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to add this contact or create a new contact?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Complainant_Role_Notes</name>
            <dataType>String</dataType>
            <fieldText>Complainant Role Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>yesAddComplainant</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_Subject</name>
        <label>Add Subject</label>
        <locationX>807</locationX>
        <locationY>2060</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Subject</targetReference>
        </connector>
        <fields>
            <name>subjectSelectionHeader</name>
            <fieldText>&lt;p&gt;Please provide details of the subject.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Select the subject from the contact list if found and select &quot;Yes - add this contact&quot;.&lt;/li&gt;&lt;li&gt;To conduct another name search, click &quot;Previous&quot; to go back.&lt;/li&gt;&lt;li&gt;Select &quot;No - add new contact&quot; to create a new contact record.&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Subject</name>
            <choiceReferences>SELECT_A_CONTACT_Default</choiceReferences>
            <choiceReferences>subjectList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Subject</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Add_or_Create_Subject</name>
            <choiceReferences>yesAddSubject</choiceReferences>
            <choiceReferences>noCreateSubject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to add this contact or create a new contact?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject_Role_Notes</name>
            <dataType>String</dataType>
            <fieldText>Subject Role Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>yesAddSubject</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Complainant_Agency_Creation_Screen</name>
        <label>Complainant Agency Creation Screen</label>
        <locationX>299</locationX>
        <locationY>1025</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Complainant_Agency_Record</targetReference>
        </connector>
        <fields>
            <name>Agency_Name</name>
            <dataType>String</dataType>
            <fieldText>Agency Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Primary_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Phone</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Secondary_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Secondary Phone</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Website</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Agency_Address</name>
            <extensionName>DV_Flow_AP:AddressValidation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showMap</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTitle</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCountyField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Complainant_Search</name>
        <label>Complainant Search</label>
        <locationX>616</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Complainant</targetReference>
        </connector>
        <fields>
            <name>complainantSearchHeader</name>
            <fieldText>&lt;p&gt;Search for the complainant by last name.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Complainant_Last_Name_Lookup</name>
            <dataType>String</dataType>
            <fieldText>Last Name Lookup</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Complainant_wishes_to_remain_anonymous</name>
            <dataType>Boolean</dataType>
            <fieldText>Keep Confidential</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Additional_Complainant</name>
        <label>Create Additional Complainant</label>
        <locationX>589</locationX>
        <locationY>1361</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Another_Complainant</targetReference>
        </connector>
        <fields>
            <name>Enter_Another_Complainant</name>
            <choiceReferences>yesAdditionalComplainant</choiceReferences>
            <choiceReferences>noAdditionalComplainants</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to enter another complainant?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Additional_Subject</name>
        <label>Create Additional Subject</label>
        <locationX>782</locationX>
        <locationY>2855</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Another_Subject</targetReference>
        </connector>
        <fields>
            <name>Enter_Another_Subject</name>
            <choiceReferences>yesAdditionalSubject</choiceReferences>
            <choiceReferences>noAdditionalSubjects</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to enter another subject?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>createComplainant</name>
        <label>createComplainant</label>
        <locationX>518</locationX>
        <locationY>845</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Agency_Complainant</targetReference>
        </connector>
        <fields>
            <name>Complainant_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Complainant First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Complainant_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Complainant Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Complainant_Primary_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Complainant Primary Phone</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Complainant_Secondary_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Complainant Secondary Phone</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Complainant_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Complainant Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Complainant_Address</name>
            <extensionName>DV_Flow_AP:AddressValidation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showMap</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTitle</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCountyField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Complainant_Agency_Name</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Agency Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>agencyId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Agency_Not_Found</name>
            <dataType>Boolean</dataType>
            <fieldText>Agency Not Found</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Clicking this box will prompt you to create the agency on the next page&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Complainant_Role_Notes_New</name>
            <dataType>String</dataType>
            <fieldText>Complainant Role Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>createSubject</name>
        <label>createSubject</label>
        <locationX>694</locationX>
        <locationY>2334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Agency_Subject</targetReference>
        </connector>
        <fields>
            <name>Subject_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Subject First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Subject_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Subject Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject_Primary_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Subject Primary Phone</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Subject_Secondary_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Subject Secondary Phone</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Subject_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Subject Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Subject_Address</name>
            <extensionName>DV_Flow_AP:AddressValidation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showMap</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTitle</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCountyField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Subject_Agency_Name</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Agency Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>agencyId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Subject_Agency_Not_Found</name>
            <dataType>Boolean</dataType>
            <fieldText>Agency Not Found</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Clicking this box will prompt you to create the agency on the next page&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject_Role_Notes_New</name>
            <dataType>String</dataType>
            <fieldText>Subject Role Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cruelty_Report_Complaint</name>
        <label>Cruelty Report Complaint</label>
        <locationX>616</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Cruelty_Report</targetReference>
        </connector>
        <fields>
            <name>Complaint_Origin</name>
            <choiceReferences>Complaint_Origin_List</choiceReferences>
            <choiceReferences>NONE_SELECTED_Default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NONE_SELECTED_Default</defaultSelectedChoiceReference>
            <fieldText>Complaint Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_Received</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date Received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_of_Incident</name>
            <dataType>Date</dataType>
            <fieldText>Date of Incident</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Case_Type_and_Subtype</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Action_Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Case_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Case_Subtype__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Case Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Case Subtype</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Case_Type_Other</name>
            <dataType>String</dataType>
            <fieldText>Case Type - Other</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Case_Type_and_Subtype.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Case_Type_and_Subtype.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Referral_From_Training_Outreach</name>
            <dataType>Boolean</dataType>
            <fieldText>Referral From Training/Outreach</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Referral_Description</name>
            <dataType>String</dataType>
            <fieldText>Referral Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Referral_From_Training_Outreach</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Not_a_Cruelty_Case</name>
            <dataType>Boolean</dataType>
            <fieldText>Not a Cruelty Case</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>Request_Type_List</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Not_a_Cruelty_Case</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Category</name>
            <choiceReferences>categoryChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cruelty_Report_Summary</name>
            <fieldText>Summary</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LAI_Assigned</name>
            <choiceReferences>LAI_Assigned_List</choiceReferences>
            <dataType>String</dataType>
            <fieldText>LAI Assigned</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Primary_Species</name>
            <choiceReferences>Species_List</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Primary Species</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Primary_Species_Quantity</name>
            <dataType>String</dataType>
            <fieldText>Primary Species Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Secondary_Species</name>
            <choiceReferences>Species_List</choiceReferences>
            <choiceReferences>NONE_SELECTED_Default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NONE_SELECTED_Default</defaultSelectedChoiceReference>
            <fieldText>Secondary Species</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Secondary_Species_Quantity</name>
            <dataType>String</dataType>
            <fieldText>Secondary Species Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Species</name>
            <choiceReferences>Species_List</choiceReferences>
            <choiceReferences>NONE_SELECTED_Default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NONE_SELECTED_Default</defaultSelectedChoiceReference>
            <fieldText>Other Species</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_Species_Quantity</name>
            <dataType>String</dataType>
            <fieldText>Other Species Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>1318</locationX>
        <locationY>1941</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>End_Screen_Display</name>
            <fieldText>&lt;p&gt;Thank you for completing the entry of your cruelty report, #{!Get_New_Cruelty_Report.Name}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Is_Subject_Known</name>
        <label>Is Subject Known</label>
        <locationX>808</locationX>
        <locationY>1583</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Subject_Known</targetReference>
        </connector>
        <fields>
            <name>Is_subject_known_at_this_time</name>
            <choiceReferences>yesSubjectKnown</choiceReferences>
            <choiceReferences>noSubjectKnown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is subject known at this time?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Subject_Agency_Creation_Screen</name>
        <label>Subject Agency Creation Screen</label>
        <locationX>418</locationX>
        <locationY>2424</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Complainant_Agency_Record_0</targetReference>
        </connector>
        <fields>
            <name>Agency_Name_0</name>
            <dataType>String</dataType>
            <fieldText>Agency Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Primary_Phone_0</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Phone</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Secondary_Phone_0</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Secondary Phone</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Website_0</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Agency_Address_0</name>
            <extensionName>DV_Flow_AP:AddressValidation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showMap</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTitle</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCountyField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Subject_Search</name>
        <label>Subject Search</label>
        <locationX>809</locationX>
        <locationY>1940</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Subject</targetReference>
        </connector>
        <fields>
            <name>subjectSearchHeader</name>
            <fieldText>&lt;p&gt;Search for the subject by last name.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject_Last_Name_Lookup</name>
            <dataType>String</dataType>
            <fieldText>Last Name Lookup</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Cruelty_Report_Complaint</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>agencyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>reportID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
