force-app/main/default/flows/Facility_Outcome_Update_Location_Fields_on_Animal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Clear_Final_Outcome</name>
        <label>Clear Final Outcome</label>
        <locationX>182</locationX>
        <locationY>1583</locationY>
        <assignmentItems>
            <assignToReference>finalOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalOutcomeDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Animal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Recent_Shelter_Location</name>
        <label>Set Current/Recent Shelter Location</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>currentRecentShelterLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Facility_Outcome__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecentShelterLocationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Facility_Foster_Home</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Final_Outcome</name>
        <label>Set Final Outcome</label>
        <locationX>886</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>finalOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Facility_Outcome__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalOutcomeDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Animal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Foster_Name</name>
        <label>Set Foster Name</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>foster.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Point_of_Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Kennel_Location_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Initial_Outcome</name>
        <label>Set Initial Outcome</label>
        <locationX>974</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>initialOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Facility_Outcome__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>initialOutcomeDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IS_RTA_RTO_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Kennel_Location</name>
        <label>Set Kennel Location</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>kennelLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Kennel_Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Final_Outcome_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Kennel_Location_Text</name>
        <label>Set Kennel Location - Text</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>kennelLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Kennel_Location_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Final_Outcome_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RTA_RTO</name>
        <label>Set RTA/RTO</label>
        <locationX>754</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>RTO_RTA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Facility_Outcome__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RTO_RTODate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Final_Outcome</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Facility_or_Outcome</name>
        <label>Facility or Outcome</label>
        <locationX>600</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Is_Initial_Outcome_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outcome</defaultConnectorLabel>
        <rules>
            <name>Facility</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Facility_or_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facility</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Facility_or_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Location_ASPCA_Shelter</targetReference>
            </connector>
            <label>Facility</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Facility_Foster_Home</name>
        <label>Is Facility Foster Home?</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Is_Kennel_Location_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Facility_Foster_Home</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Facility_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Foster Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Foster_Name</targetReference>
            </connector>
            <label>Facility = Foster Home</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Final_Outcome_set</name>
        <label>Is Final Outcome set?</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Update_Animal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Final Outcome Not Set</defaultConnectorLabel>
        <rules>
            <name>Final_Outcome_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>finalOutcome</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Final_Outcome</targetReference>
            </connector>
            <label>Final Outcome Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Initial_Outcome_Set</name>
        <label>Is Initial Outcome Set?</label>
        <locationX>886</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Set_Initial_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Initial Outcome Not Set</defaultConnectorLabel>
        <rules>
            <name>Initial_Outcome_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>initialOutcome</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IS_RTA_RTO_Set</targetReference>
            </connector>
            <label>Initial Outcome Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Kennel_Location_Set</name>
        <label>Is Kennel Location Set?</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Is_Final_Outcome_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Kennel Location Not Set</defaultConnectorLabel>
        <rules>
            <name>Kennel_Location_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Kennel_Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Kennel_Location</targetReference>
            </connector>
            <label>Kennel Location Set - Picklist</label>
        </rules>
        <rules>
            <name>Kennel_Location_Set_Text</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Kennel_Location_Text__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Kennel_Location_Text</targetReference>
            </connector>
            <label>Kennel Location Set - Text</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Location_ASPCA_Shelter</name>
        <label>Is Location ASPCA Shelter?</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Is_Facility_Foster_Home</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not ASPCA Location</defaultConnectorLabel>
        <rules>
            <name>ASPCA_Location</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>currentLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AAH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASNA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRC-MRC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Recent_Shelter_Location</targetReference>
            </connector>
            <label>ASPCA Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_RTA_RTO_Set</name>
        <label>IS RTA/RTO Set?</label>
        <locationX>886</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Set_Final_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RTA/RTO Not Set</defaultConnectorLabel>
        <rules>
            <name>RTA_RTO_Set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Facility_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned to Owner/Caregiver</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Facility_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned to Source Facility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RTA_RTO</targetReference>
            </connector>
            <label>RTA/RTO Set</label>
        </rules>
    </decisions>
    <description>Update the Animal summary fields based on the new Facility/Outcome record</description>
    <interviewLabel>Facility/Outcome - Update Location Fields on Animal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Facility/Outcome - Update Location Fields on Animal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Animal</name>
        <label>Update Animal</label>
        <locationX>600</locationX>
        <locationY>1895</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Location_Date__c</field>
            <value>
                <elementReference>currentLocationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Location__c</field>
            <value>
                <elementReference>currentLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Recent_Shelter_Location_Date__c</field>
            <value>
                <elementReference>currentRecentShelterLocationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Recent_Shelter_Location__c</field>
            <value>
                <elementReference>currentRecentShelterLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Outcome_Date__c</field>
            <value>
                <elementReference>finalOutcomeDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Outcome__c</field>
            <value>
                <elementReference>finalOutcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foster_Name__c</field>
            <value>
                <elementReference>foster.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Outcome_Date__c</field>
            <value>
                <elementReference>initialOutcomeDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Outcome__c</field>
            <value>
                <elementReference>initialOutcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RTA_RTO_Date__c</field>
            <value>
                <elementReference>RTO_RTODate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RTA_RTO__c</field>
            <value>
                <elementReference>RTO_RTA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shelter_Location__c</field>
            <value>
                <elementReference>kennelLocation</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <start>
        <locationX>474</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Facility_or_Outcome</targetReference>
        </connector>
        <object>Facility_Outcome__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>Defaults to Facility/Outcome</description>
        <name>currentLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Facility_Outcome__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Defaults to &quot;Start Date&quot;</description>
        <name>currentLocationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Start_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>currentRecentShelterLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Animal__r.Current_Recent_Shelter_Location__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>currentRecentShelterLocationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Animal__r.Current_Recent_Shelter_Location_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>finalOutcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Animal__r.Final_Outcome__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>finalOutcomeDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Animal__r.Final_Outcome_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>foster</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>initialOutcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Animal__r.Initial_Outcome__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>initialOutcomeDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Animal__r.Initial_Outcome_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>kennelLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Animal__r.Shelter_Location__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>RTO_RTA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RTO_RTODate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Animal__r.RTA_RTO_Date__c</elementReference>
        </value>
    </variables>
</Flow>
