force-app/main/default/flows/Incident_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_ARC_CARE_Email</name>
        <label>Send ARC/CARE Email</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Incidents__c.Incident_Report_ARC_CARE</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_CRC_MRC_Email</name>
        <label>Send CRC/MRC Email</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Incidents__c.Incident_Report_CRC_MRC</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>CRC_MRC_or_ARC_CARE</name>
        <label>CRC/MRC or ARC/CARE</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CRC_MRC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Animal__r.Current_Location__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CRC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Animal__r.Current_Location__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MRC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_CRC_MRC_Email</targetReference>
            </connector>
            <label>CRC/MRC</label>
        </rules>
        <rules>
            <name>ARC_CARE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Animal__r.Current_Location__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ARC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Animal__r.Current_Location__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CARE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_ARC_CARE_Email</targetReference>
            </connector>
            <label>ARC/CARE</label>
        </rules>
    </decisions>
    <description>#168 Incident Report</description>
    <interviewLabel>Incident Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incident Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CRC_MRC_or_ARC_CARE</targetReference>
        </connector>
        <object>Incidents__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
