force-app/main/default/flows/Procedures_Automated_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Approved_Email</name>
        <label>Send Approved Email</label>
        <locationX>1158</locationX>
        <locationY>214</locationY>
        <actionName>Procedure__c.Procedure_Approved</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Procedure_Created_or_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Tasks_To_List</name>
        <label>Add Tasks To List</label>
        <locationX>2116</locationX>
        <locationY>449</locationY>
        <assignmentItems>
            <assignToReference>newTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>firstTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>secondTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>thirdTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>First_Task</name>
        <label>First Task</label>
        <locationX>1686</locationX>
        <locationY>449</locationY>
        <assignmentItems>
            <assignToReference>firstTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dayBeforeProcedure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hang NPO if needed. Prep crate with animal ID label and towel. Give Cerenia 8mg/kg PO if anticipating anesthesia. Confirm drivers. Check consolidated task report for needed tasks.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prep for Offsite Appt</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstTask.Automated_Procedure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Admin.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstTask.Procedure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Second_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Second_Task</name>
        <label>Second Task</label>
        <locationX>1826</locationX>
        <locationY>449</locationY>
        <assignmentItems>
            <assignToReference>secondTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dayBeforeProcedure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>secondTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre op exam if needed. Complete transport manifest &amp; assessment, print paperwork. Prescribe Cerenia.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>secondTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DVM Exam - Pre Procedure</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>secondTask.Automated_Procedure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>secondTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>secondTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Admin.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>secondTask.Procedure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Third_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Third_Task</name>
        <label>Third Task</label>
        <locationX>1967</locationX>
        <locationY>449</locationY>
        <assignmentItems>
            <assignToReference>thirdTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Procedure_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thirdTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hang play pause sign. Hang dental restriction sign if needed. Upload/enter record including post-op medications, rechecks and radiographs.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thirdTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Admin Task - Offsite Appt</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thirdTask.Automated_Procedure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thirdTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thirdTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Admin.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thirdTask.Procedure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tasks_To_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_Tasks_Found</name>
        <label>Existing Tasks Found?</label>
        <locationX>1477</locationX>
        <locationY>451</locationY>
        <defaultConnector>
            <targetReference>First_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Tasks</defaultConnectorLabel>
        <rules>
            <name>Found_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Tasks</targetReference>
            </connector>
            <label>Found Tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Procedure_Created_or_Changed</name>
        <label>Procedure Created or Changed</label>
        <locationX>941</locationX>
        <locationY>451</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Procedure_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Procedure_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Procedure_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Medical_Admin</targetReference>
            </connector>
            <label>Create Tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Procedure_Approved</name>
        <label>Was Procedure Approved?</label>
        <locationX>941</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>Procedure_Created_or_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Approved</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Approved_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Approved</label>
        </rules>
    </decisions>
    <formulas>
        <name>dayBeforeProcedure</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Procedure_Date__c} - 1</expression>
    </formulas>
    <interviewLabel>Procedures - Automated Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Procedures - Automated Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Tasks</name>
        <label>Create New Tasks</label>
        <locationX>2272</locationX>
        <locationY>449</locationY>
        <inputReference>newTasks</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Tasks</name>
        <label>Delete Tasks</label>
        <locationX>1595</locationX>
        <locationY>273</locationY>
        <connector>
            <targetReference>First_Task</targetReference>
        </connector>
        <inputReference>Get_Existing_Tasks</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Existing_Tasks</name>
        <label>Get Existing Tasks</label>
        <locationX>1319</locationX>
        <locationY>449</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Tasks_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Automated_Procedure__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Procedure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medical_Admin</name>
        <label>Get Medical Admin</label>
        <locationX>1158</locationX>
        <locationY>449</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>medadmin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>451</locationX>
        <locationY>115</locationY>
        <connector>
            <targetReference>Was_Procedure_Approved</targetReference>
        </connector>
        <object>Procedure__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>firstTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>newTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>secondTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>thirdTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
