force-app/main/default/flows/Update_Behavior_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Test_Names_and_Responses</name>
        <label>Get Test Names and Responses</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>BehaviorEvalMetadataCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Fields_for_Updates</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>EvalId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>EvalFields</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_First_Test_to_Eval_Summary</name>
        <label>Add First Test to Eval Summary</label>
        <locationX>264</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>EvalSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FormattedTestComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Fields_for_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Test_to_Eval_Summary</name>
        <label>Add Test to Eval Summary</label>
        <locationX>704</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>EvalSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EvalSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FormattedTestComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Fields_for_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Evaluation_Summary</name>
        <label>Evaluation Summary</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>EvalSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Behavior_Evaluation_Summary__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Test_Names_and_Responses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Eval_Summary_Contains_Test</name>
        <label>Check if Eval Summary Contains Test</label>
        <locationX>484</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Add_Test_to_Eval_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Summary Not Blank and Doesn&apos;t Contain Test</defaultConnectorLabel>
        <rules>
            <name>Summary_Blank</name>
            <conditionLogic>1 AND 2 AND (NOT 3)</conditionLogic>
            <conditions>
                <leftValueReference>EvalSummary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TestComments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TestComments</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Skipped not necessary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_First_Test_to_Eval_Summary</targetReference>
            </connector>
            <label>Summary Blank</label>
        </rules>
        <rules>
            <name>Summary_Contains_Test</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EvalSummary</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>TestName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TestComments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TestComments</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Skipped not necessary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Fields_for_Updates</targetReference>
            </connector>
            <label>Summary Contains Test</label>
        </rules>
    </decisions>
    <formulas>
        <name>FormattedTestComment</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;html&gt;&lt;b&gt;&apos;&amp;{!TestName}&amp;&apos;: &lt;/b&gt;&apos;&amp;{!TestComments}&amp;&apos;&lt;br/&gt;&lt;/html&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <expression>BR()&amp;&quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>TestComments</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Check_Fields_for_Updates},(LEN({!Check_Fields_for_Updates})-FIND(&quot;:&quot;, {!Check_Fields_for_Updates})-1))</expression>
    </formulas>
    <formulas>
        <name>TestName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Check_Fields_for_Updates},FIND(&quot;:&quot;, {!Check_Fields_for_Updates})-1)</expression>
    </formulas>
    <interviewLabel>Update Behavior Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Behavior Summary</label>
    <loops>
        <name>Check_Fields_for_Updates</name>
        <label>Check Fields for Updates</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <collectionReference>EvalFields</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Eval_Summary_Contains_Test</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Behavior_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Behavior_Summary</name>
        <label>Update Behavior Summary</label>
        <locationX>176</locationX>
        <locationY>1103</locationY>
        <inputAssignments>
            <field>Behavior_Evaluation_Summary__c</field>
            <value>
                <elementReference>EvalSummary</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluation_Summary</targetReference>
        </connector>
        <object>Behavior_Evaluation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>EvalField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EvalFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EvalSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Evaluation_Behavior_Summary__c</elementReference>
        </value>
    </variables>
</Flow>
