force-app/main/default/flows/Update_Case_Next_Court_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Court_Date_Needs_to_be_Updated</name>
        <label>Court Date Needs to be Updated</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Case_Court_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Next_Court_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Next_Court_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Charge_with_Closest_Court_Date.Next_Court_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Next_Court_Date</targetReference>
            </connector>
            <label>Yes - Update Case Court Date</label>
        </rules>
    </decisions>
    <description>Daily flow that updates &quot;Next Court Date&quot; on Case based on the values from Charge Information</description>
    <interviewLabel>Update Case Next Court Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Charge Information - Update Case Next Court Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Charge_with_Closest_Court_Date</name>
        <label>Get Charge with Closest Court Date</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Court_Date_Needs_to_be_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Next_Court_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Next_Court_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Next_Court_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Charge_Information__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Next_Court_Date__c</queriedFields>
        <sortField>Next_Court_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Next_Court_Date</name>
        <label>Update Case Next Court Date</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Court_Date__c</field>
            <value>
                <elementReference>Get_Charge_with_Closest_Court_Date.Next_Court_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Charge_with_Closest_Court_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Next_Court_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Today_or_Future__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Case_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NYC Criminal Case</stringValue>
            </value>
        </filters>
        <object>Charge_Information__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-05-12</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentNextCourtDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Case__r.Next_Court_Date__c</elementReference>
        </value>
    </variables>
</Flow>
