force-app/main/default/flows/Update_Charge_Info_on_NYC_Case_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Arrest_to_List</name>
        <label>Add Arrest # to List</label>
        <locationX>270</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>ArrestNumList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Through_Charges.Arrest__c}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unique_Part</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Defendant_to_List</name>
        <label>Add Defendant to List</label>
        <locationX>270</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>DefendantList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Through_Charges.Defendant_Name__c}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Charges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Docket_to_List</name>
        <label>Add Docket # to List</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>DocketNumList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Through_Charges.Docket__c}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unique_Arrest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Indictment_Number_to_List</name>
        <label>Add Indictment Number to List</label>
        <locationX>270</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>IndictmentNumList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Through_Charges.Indictment__c}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unique_Defendant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Part_to_List</name>
        <label>Add Part to List</label>
        <locationX>270</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>PartList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Through_Charges.Part__c}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unique_Indictment_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Arraignment_Date</name>
        <label>Update Arraignment Date</label>
        <locationX>50</locationX>
        <locationY>2807</locationY>
        <assignmentItems>
            <assignToReference>ArraignmentDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Arraignment_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Summary_Fields_on_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Next_Court_Date</name>
        <label>Update Next Court Date</label>
        <locationX>50</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>NextCourtDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Next_Court_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Arraignment_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>New_Arraignment_Date</name>
        <label>New Arraignment Date</label>
        <locationX>182</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Update_Summary_Fields_on_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Arraignment_Date_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Arraignment_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Arraignment_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Case__r.Arraignment_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Arraignment_Date</targetReference>
            </connector>
            <label>New Arraignment Date Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Court_Date</name>
        <label>New Court Date</label>
        <locationX>182</locationX>
        <locationY>2351</locationY>
        <defaultConnector>
            <targetReference>New_Arraignment_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Next_Court_Date_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Next_Court_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Next_Court_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Case__r.Next_Court_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Next_Court_Date</targetReference>
            </connector>
            <label>New Next Court Date Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unique_Arrest</name>
        <label>Unique Arrest</label>
        <locationX>402</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Unique_Part</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_Does_Not_Contain_Current_Arrest</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Charges.Arrest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ArrestNumList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Charges.Arrest__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Arrest_to_List</targetReference>
            </connector>
            <label>List Does Not Contain Current Arrest #</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unique_Defendant</name>
        <label>Unique Defendant</label>
        <locationX>402</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Charges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_Does_Not_Contain_Current_Defendant</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>DefendantList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Charges.Defendant_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Defendant_to_List</targetReference>
            </connector>
            <label>List Does Not Contain Current Defendant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unique_Docket</name>
        <label>Unique Docket</label>
        <locationX>402</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Unique_Arrest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_Does_Not_Contain_Current_Docket</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Charges.Docket__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocketNumList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Charges.Docket__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Docket_to_List</targetReference>
            </connector>
            <label>List Does Not Contain Current Docket #</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unique_Indictment_Number</name>
        <label>Unique Indictment Number</label>
        <locationX>402</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>Unique_Defendant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_Does_Not_Contain_Current_Indictment_Number</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Charges.Indictment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IndictmentNumList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Charges.Indictment__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Indictment_Number_to_List</targetReference>
            </connector>
            <label>List Does Not Contain Current Indictment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unique_Part</name>
        <label>Unique Part</label>
        <locationX>402</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Unique_Indictment_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_Does_Not_Contain_Current_Part</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Charges.Part__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PartList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Charges.Part__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Part_to_List</targetReference>
            </connector>
            <label>List Does Not Contain Current Part</label>
        </rules>
    </decisions>
    <description>Updates &quot;Docket #&quot;, &quot;Defendant&quot;, &quot;Arrest&quot; and &quot;Part&quot; on Case when a Charge Information record is created or updated</description>
    <formulas>
        <name>FormattedArrestNumList</name>
        <dataType>String</dataType>
        <expression>LEFT({!ArrestNumList}, LEN({!ArrestNumList})-2)</expression>
    </formulas>
    <formulas>
        <name>FormattedDefendantList</name>
        <dataType>String</dataType>
        <expression>LEFT({!DefendantList}, LEN({!DefendantList})-2)</expression>
    </formulas>
    <formulas>
        <name>FormattedDocketNumList</name>
        <dataType>String</dataType>
        <expression>LEFT({!DocketNumList}, LEN({!DocketNumList})-2)</expression>
    </formulas>
    <formulas>
        <name>FormattedIndictmentNumList</name>
        <dataType>String</dataType>
        <expression>LEFT({!IndictmentNumList}, LEN({!IndictmentNumList})-2)</expression>
    </formulas>
    <formulas>
        <name>FormattedPartList</name>
        <dataType>String</dataType>
        <expression>LEFT({!PartList}, LEN({!PartList})-2)</expression>
    </formulas>
    <interviewLabel>Update Charge Info on NYC Case Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Charge Information - Update Charge Info on NYC Case Records</label>
    <loops>
        <description>Iterate over charges tied to the current case to add Arrest #, Docket #, Part and Defendant to text fields on Case</description>
        <name>Loop_Through_Charges</name>
        <label>Loop Through Charges</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Charges_Tied_to_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Unique_Docket</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Court_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieve all animals related to the original charge&apos;s case</description>
        <name>Get_Charges_Tied_to_Case</name>
        <label>Get Charges Tied to Case</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Charges</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Charge_Information__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Summary_Fields_on_Case</name>
        <label>Update Summary Fields on Case</label>
        <locationX>182</locationX>
        <locationY>3023</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Arraignment_Date__c</field>
            <value>
                <elementReference>ArraignmentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrest__c</field>
            <value>
                <elementReference>FormattedArrestNumList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Defendant__c</field>
            <value>
                <elementReference>FormattedDefendantList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Docket__c</field>
            <value>
                <elementReference>FormattedDocketNumList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indictment__c</field>
            <value>
                <elementReference>FormattedIndictmentNumList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Court_Date__c</field>
            <value>
                <elementReference>NextCourtDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part__c</field>
            <value>
                <elementReference>FormattedPartList</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Charges_Tied_to_Case</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Docket__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Defendant__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Arrest__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Part__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Case_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NYC Criminal Case</stringValue>
            </value>
        </filters>
        <object>Charge_Information__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ArraignmentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Case__r.Arraignment_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>ArrestNumList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DefendantList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocketNumList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndictmentNumList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextCourtDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Case__r.Next_Court_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>PartList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
