force-app/main/default/flows/Update_Animal_with_Playgroup_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <interviewLabel>Update Animal with Playgroup Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Animal with Playgroup Info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Babesia</name>
        <label>Babesia</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>In_Heat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Medical_Condition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Babesia</stringValue>
            </value>
        </filters>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Medical_Conditions__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Animal__c</queriedFields>
        <queriedFields>Medical_Condition__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>In_Heat</name>
        <label>In Heat</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Urogenital__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In heat</stringValue>
            </value>
        </filters>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Animal_Exam_Sheet__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Animal__c</queriedFields>
        <queriedFields>Urogenital__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Animal_Playgroup_Notes</name>
        <label>Update Animal Playgroup Notes</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Babesia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Playgroup_Assigned__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Did_Not_Attend_Playgroup__c</field>
            <value>
                <elementReference>$Record.Did_Not_Attend_Playgroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Playgroup_Assignment__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Playgroup_Individual_Notes__c</field>
            <value>
                <elementReference>$Record__Prior.Playgroup_Individual_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Playgroup_Summary_Notes__c</field>
            <value>
                <elementReference>$Record.Playgroup_Notes_Text__c</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Animal_Playgroup_Notes</targetReference>
        </connector>
        <object>Playgroup__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
