force-app/main/default/flows/Update_Grade_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>No_of_Evaluations</name>
        <label>No of Evaluations</label>
        <locationX>570</locationX>
        <locationY>139</locationY>
        <assignmentItems>
            <assignToReference>EvaluationCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Behavior_Evaluations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Evaluations_Done</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Evaluations_Done</name>
        <label>Has Evaluations Done</label>
        <locationX>361</locationX>
        <locationY>281</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNewBeh</name>
            <conditionLogic>1 OR 2 OR (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Overall_Evaluation_Grade__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Overall_Evaluation_Grade__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Overall_Evaluation_Grade__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Grade_Change_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Animal_0_0</targetReference>
            </connector>
            <label>IsNew</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EvaluationCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Animal_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EvaluationCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Animal</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <description>IsInsert?</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNEW()</expression>
    </formulas>
    <interviewLabel>Update Grade Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Grade Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Behavior_Evaluations</name>
        <label>Behavior Evaluations</label>
        <locationX>431</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_of_Evaluations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Behavior_Evaluation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Animal</name>
        <label>Update Animal</label>
        <locationX>501</locationX>
        <locationY>461</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Behavior_Summary_Change_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Behavior_Summary_Initials__c</field>
            <value>
                <elementReference>$Record.Tester_Initials__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Behavior_Grade_Change_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Behavior_Grade_Initials__c</field>
            <value>
                <elementReference>$Record.Tester_Initials__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Behavior_Grade__c</field>
            <value>
                <elementReference>$Record.Overall_Evaluation_Grade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grade_Change_Reason__c</field>
            <value>
                <elementReference>$Record.Grade_Change_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preliminary_Behavior_Grade__c</field>
            <value>
                <elementReference>$Record.Overall_Evaluation_Grade__c</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Animal_0</name>
        <label>Update Animal</label>
        <locationX>347</locationX>
        <locationY>495</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Behavior_Grade_Change_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Behavior_Grade_Initials__c</field>
            <value>
                <elementReference>$Record.Tester_Initials__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Behavior_Grade__c</field>
            <value>
                <elementReference>$Record.Overall_Evaluation_Grade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grade_Change_Reason__c</field>
            <value>
                <elementReference>$Record.Grade_Change_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Animal_0_0</name>
        <label>Update Animal</label>
        <locationX>711</locationX>
        <locationY>280</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Animal__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Behavior_Summary_Change_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Behavior_Summary_Initials__c</field>
            <value>
                <elementReference>$Record.Tester_Initials__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Behavior_Grade_Change_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Behavior_Grade_Initials__c</field>
            <value>
                <elementReference>$Record.Tester_Initials__c</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <start>
        <locationX>33</locationX>
        <locationY>32</locationY>
        <connector>
            <targetReference>Behavior_Evaluations</targetReference>
        </connector>
        <object>Behavior_Evaluation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EvaluationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>getAllEvaluations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Behavior_Evaluation__c</objectType>
    </variables>
    <variables>
        <name>varSelectedValue</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
