force-app/main/default/flows/Update_Evaluation_Date_and_Create_Evaluation_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Days_to_Intake_Date</name>
        <label>Add Days to Intake Date</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>DateTimeUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Evaluation_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dateTimeString</name>
            <value>
                <elementReference>$Record.Intake_Date_Time__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>days</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>DateTime</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>EvaluationDate</assignToReference>
            <name>resultDate</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <formulas>
        <name>EvaluationDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Evaluation Due for: &quot;+{!$Record.Animal_Name_Id__c} +&quot; (&quot;+{!$Record.Current_Recent_Shelter_Location__c}+&quot;)&quot;</expression>
    </formulas>
    <interviewLabel>Update Evaluation Date and Create Evaluation Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Evaluation Date and Create Evaluation Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Evaluation_Task</name>
        <label>Create Evaluation Task</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>EvaluationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>EvaluationDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskEvaluationRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Species__c</field>
            <value>
                <stringValue>Dog</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Evaluation Due</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Behavior_Case_Worker__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Task_Evaluation_RecordType</name>
        <label>Get Task Evaluation RecordType</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Evaluation_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Evaluation</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TaskEvaluationRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Evaluation_Date</name>
        <label>Update Evaluation Date</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get_Task_Evaluation_RecordType</targetReference>
        </connector>
        <inputAssignments>
            <field>Evaluation_Date__c</field>
            <value>
                <elementReference>EvaluationDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Days_to_Intake_Date</targetReference>
        </connector>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>Current_Recent_Shelter_Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ARC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Recent_Shelter_Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CARE</stringValue>
            </value>
        </filters>
        <object>Animal__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EvaluationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskEvaluationRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
