force-app/main/default/flows/Update_Animal_Location_End_Dates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Previous_Record_ID_Null</name>
        <label>Previous Record ID Null</label>
        <locationX>388</locationX>
        <locationY>380</locationY>
        <defaultConnector>
            <targetReference>Update_End_Date_on_Previous_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Previous_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>previousAnimalId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Previous Location</label>
        </rules>
    </decisions>
    <description>DEMO VERSION</description>
    <interviewLabel>Update Animal Location End Dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Animal Location End Dates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>When new animal location added, find previous, most-recent location associated with that animal. This should only happen for animals that have more than 1 existing locations.</description>
        <name>Get_Previous_Animal_Location</name>
        <label>Get Previous Animal Location</label>
        <locationX>177</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Record_ID_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Animal__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Facility_Outcome__c</object>
        <outputAssignments>
            <assignToReference>previousAnimalId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>Update Previous Facility/Outcome on new record</description>
        <name>Set_Previous_Facility_Outcome</name>
        <label>Set Previous Facility/Outcome</label>
        <locationX>783</locationX>
        <locationY>371</locationY>
        <inputAssignments>
            <field>Previous_Facility_Outcome__c</field>
            <value>
                <elementReference>previousAnimalId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_End_Date_on_Previous_Location</name>
        <label>Update End Date on Previous Location</label>
        <locationX>621</locationX>
        <locationY>372</locationY>
        <connector>
            <targetReference>Set_Previous_Facility_Outcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>previousAnimalId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Animal__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>newStartDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>newStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Facility_Outcome__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Previous_Animal_Location</targetReference>
        </connector>
        <object>Facility_Outcome__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Start Date associated with new location record</description>
        <name>newStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Start_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Record ID of previous Animal record</description>
        <name>previousAnimalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
